/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/**
* Transforms a given palette color to the transparent version of it
*/
/* stylelint-disable */
.familysearch_sprite, #family_search_person_panel_info .family_search_disabled .family_search_information, #family_search_person_panel_info .family_search_icon, #family_search_sync_button .family_search_icon {
  background-image: url("/FP/Assets/Images/Sprites/familysearch_sprite.png?v=4");
}
@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .familysearch_sprite, #family_search_person_panel_info .family_search_disabled .family_search_information, #family_search_person_panel_info .family_search_icon, #family_search_sync_button .family_search_icon {
    background-image: url("/FP/Assets/Images/Sprites/familysearch_sprite@2x.png?v=4");
    background-size: 79px 40px;
  }
}

#family_search_sync_button {
  float: right;
  margin-right: 12px;
  margin-top: -2px;
}
#pedigree_tree_header #family_search_sync_button {
  margin-top: 5px;
}
#family_search_sync_button .css_button {
  color: #fff;
  border-color: #86B848;
  background-color: #86B848;
  border-radius: 3px;
  float: left;
  font-weight: normal;
  line-height: 1.4;
  padding: 2px 6px;
}
#family_search_sync_button .css_button:hover {
  color: #eeeeee;
}
#family_search_sync_button .family_search_icon {
  background-position: -24px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 6px;
}
#family_search_sync_button .in_progress {
  opacity: 0.6;
}
#family_search_sync_button .indicator_circle {
  position: relative;
  z-index: 2;
  float: left;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  border: solid 6px #ee0000;
  background: white;
  margin-right: -8px;
  margin-top: -4px;
  box-shadow: 0 1px 1px 0 palette-black-40;
  -ms-box-shadow: 0 1px 1px 0 palette-black-40;
  -moz-box-shadow: 0 1px 1px 0 palette-black-40;
  -webkit-box-shadow: 0 1px 1px 0 palette-black-40;
}
#family_search_sync_button .indicator_description {
  position: relative;
  float: left;
  margin-right: 8px;
  margin-top: -2px;
  max-width: 100px;
  text-align: center;
  color: #ccc;
  line-height: 14px;
}

#family_search_sync_button.family_search_sync_button_facelift {
  float: right;
  margin-right: 12px;
  margin-top: -2px;
}
#family_search_sync_button.family_search_sync_button_facelift .css_button {
  height: 30px;
  border-radius: 15px;
  padding: 4px 12px;
  font-size: 13px;
  border: solid 1px #ccc;
  color: #333;
  background-color: #fff;
}
#family_search_sync_button.family_search_sync_button_facelift .css_button:hover {
  background-color: #f7f7f7;
}
#family_search_sync_button.family_search_sync_button_facelift .family_search_icon {
  background-position: -48px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 11px;
  height: 15px;
}
#family_search_sync_button.family_search_sync_button_facelift .indicator_circle {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: solid 4px #2d7559;
  float: right;
  top: 1px;
  right: 10px;
}
#family_search_sync_button.family_search_sync_button_facelift .indicator_duplicates {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #d14900;
  color: #fff;
  font-size: 9px;
  padding: 2px 0;
  text-align: center;
  position: absolute;
  left: -7px;
  top: 0;
  z-index: 1;
}
#page_header #family_search_sync_button.family_search_sync_button_facelift .indicator_duplicates {
  top: -8px;
}

/* stylelint-disable */
#family_search_person_panel_info {
  margin-top: 10px;
}
.family_search_side_panel #family_search_person_panel_info, .family_search_memory_panel #family_search_person_panel_info {
  margin-top: 0;
}
#family_search_person_panel_info .family_search_icon {
  background-position: 0px -24px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 16px;
  float: left;
  margin-right: 3px;
}
#family_search_person_panel_info .family_search_button,
#family_search_person_panel_info a.family_search_button {
  padding: 3px 5px;
  border-radius: 3px;
  color: #7bab09;
  border: 1px solid #7bab09;
  background-color: #fff;
  white-space: normal;
  cursor: pointer;
  outline: none;
  font-weight: normal;
  line-height: 1.4;
}
.pedigree_tree_facelift #family_search_person_panel_info .family_search_button, .NewTreeFaceLift #family_search_person_panel_info .family_search_button,
.pedigree_tree_facelift #family_search_person_panel_info a.family_search_button,
.NewTreeFaceLift #family_search_person_panel_info a.family_search_button {
  padding: 0;
  border: none;
  font-weight: 500;
}
.pedigree_tree_facelift #family_search_person_panel_info .family_search_button::after, .NewTreeFaceLift #family_search_person_panel_info .family_search_button::after,
.pedigree_tree_facelift #family_search_person_panel_info a.family_search_button::after,
.NewTreeFaceLift #family_search_person_panel_info a.family_search_button::after {
  content: "";
  border: solid 0 #7bab09;
  border-top-width: 2px;
  border-right-width: 2px;
  display: inline-block;
  padding: 2px;
  margin-left: 4px;
  margin-bottom: 1px;
  transform: rotate(45deg);
}
.pedigree_tree_facelift #family_search_person_panel_info .family_search_button:hover, .NewTreeFaceLift #family_search_person_panel_info .family_search_button:hover,
.pedigree_tree_facelift #family_search_person_panel_info a.family_search_button:hover,
.NewTreeFaceLift #family_search_person_panel_info a.family_search_button:hover {
  text-decoration: underline !important;
  color: #7bab09;
}
#family_search_person_panel_info .family_search_button a,
#family_search_person_panel_info a.family_search_button a {
  color: #7bab09;
}
#family_search_person_panel_info .family_search_button a:hover,
#family_search_person_panel_info a.family_search_button a:hover {
  text-decoration: underline !important;
  color: #7bab09;
}
#family_search_person_panel_info .family_search_button .family_search_icon,
#family_search_person_panel_info a.family_search_button .family_search_icon {
  margin-right: 5px;
}
#family_search_person_panel_info .family_search_button .family_search_person_id,
#family_search_person_panel_info a.family_search_button .family_search_person_id {
  white-space: nowrap;
}
#NewTreeLeftPanel #family_search_person_panel_info .family_search_button:hover, .family_search_memory_panel #family_search_person_panel_info .family_search_button:hover {
  color: #2385c4;
}
#NewTreeLeftPanel #family_search_person_panel_info .family_search_button:hover .family_search_icon, .family_search_memory_panel #family_search_person_panel_info .family_search_button:hover .family_search_icon {
  background-position: -20px -24px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 16px;
}
#pedigree_tree_panel #family_search_person_panel_info .family_search_button:hover {
  background-color: #f7f7f7;
}
.pedigree_tree_facelift #family_search_person_panel_info .family_search_button:hover, .NewTreeFaceLift #family_search_person_panel_info .family_search_button:hover {
  background-color: #fff !important;
}
.family_search_side_panel #family_search_person_panel_info .family_search_button:hover a {
  text-decoration: underline;
}
#family_search_person_panel_info .family_search_disabled {
  color: #595959;
}
#family_search_person_panel_info .family_search_disabled .family_search_information {
  background-position: -67px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 3px;
  margin-bottom: -2px;
  opacity: 0.5;
}
#family_search_person_panel_info .family_search_disabled .family_search_information:hover {
  opacity: 1;
}
#family_search_person_panel_info .family_search_duplicate {
  padding-top: 8px;
}
#family_search_person_panel_info .family_search_duplicate a {
  color: #d64e4b;
  font-weight: 500;
}
#family_search_person_panel_info .family_search_possible_duplicate {
  padding-top: 4px;
}
#family_search_person_panel_info .family_search_possible_duplicate a {
  color: #d64e4b;
  text-decoration: none;
  font-weight: 500;
}
#family_search_person_panel_info .family_search_possible_duplicate a:hover {
  text-decoration: underline;
}
#family_search_person_panel_info .family_search_sync_log {
  padding-top: 8px;
  display: inline-block;
}
#family_search_person_panel_info .family_search_contributions {
  margin-top: 6px;
  border-top: solid 1px #e8e8e8;
  padding-top: 6px;
}
#family_search_person_panel_info .family_search_contributions .contributions_title {
  margin-bottom: 4px;
  color: #595959;
}
#family_search_person_panel_info .family_search_contributions ul {
  list-style-position: inside;
}

.family_search_side_panel {
  margin-top: 23px;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 10px;
}
.EditProfileForm .family_search_side_panel {
  padding: 14px;
  width: 169px;
}
.family_search_side_panel .panel_title {
  margin-bottom: 10px;
  font-weight: bold;
}

.family_search_memory_panel {
  padding-bottom: 3px;
}
.family_search_memory_panel .panel_title {
  margin-bottom: 4px;
  font-weight: bold;
}