/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/**
* Transforms a given palette color to the transparent version of it
*/
/* stylelint-disable */
.genealogyEventDialogForm .event_form input[type=text] {
  height: 24px;
  border: 1px solid #dedddd;
  padding: 1px 7px 0;
  border-radius: 3px;
  box-sizing: border-box;
}
.genealogyEventDialogForm .event_form .gdp_secondDateTypeLabelCell {
  padding-top: 3px;
}
.genealogyEventDialogForm .event_form .gdp_dateTypePickerLinkContainer {
  padding: 2px 3px 2px 8px;
  border: 1px solid #dedddd;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}
.genealogyEventDialogForm .event_form .gdp_dateTypePickerLink {
  color: #353535;
  outline: none;
  text-decoration: none;
}
.genealogyEventDialogForm .event_form .gdp_secondDateTypeLabelCell {
  padding-left: 10px;
}
.genealogyEventDialogForm .event_form .gdp_dateTypePickerArrow {
  margin-left: -3px;
  margin-right: 3px;
  margin-bottom: 2px;
  background-image: url("/FP/Assets/Images/Common/ddarrow.png?v=2");
  background-position: 0 center;
}
.genealogyEventDialogForm .event_form .GenealogyDatePicker .gdp_year,
.genealogyEventDialogForm .event_form .GenealogyDatePicker .gdp_text {
  height: 24px;
}
.genealogyEventDialogForm .event_form .GenealogyDatePicker .gdp_year {
  width: 44px;
}
.genealogyEventDialogForm .event_form .select-replace {
  padding-top: 2px;
  padding-bottom: 1px;
}
.genealogyEventDialogForm .event_form .label {
  font-weight: normal;
}
.genealogyEventDialogForm .event_form td.label {
  padding-top: 3px;
  padding-right: 9px;
  white-space: nowrap;
}
.genealogyEventDialogForm .event_form td.date_label {
  padding-top: 2px;
}
.genealogyEventDialogForm .event_form td.age_label {
  padding-left: 45px;
}
.genealogyEventDialogForm .event_form td.address_label {
  padding-top: 6px;
}
.genealogyEventDialogForm .event_form td.address_cell {
  padding-right: 21px;
}
.genealogyEventDialogForm .event_form .field {
  width: 485px;
}
.genealogyEventDialogForm .event_form div.field {
  margin-top: 3px;
}
.genealogyEventDialogForm .event_form .spouse_field {
  width: 485px;
}
.genealogyEventDialogForm .event_form .age_field {
  width: 32px;
}
.genealogyEventDialogForm .event_form .number_field {
  width: 25px;
}
.genealogyEventDialogForm .event_form .address_field {
  width: 207px;
}
.genealogyEventDialogForm .event_form .zip_field {
  width: 88px;
}
.genealogyEventDialogForm .event_form .select {
  width: 466px;
  height: 24px;
}
.genealogyEventDialogForm .event_form .address_select {
  width: 188px;
}
.genealogyEventDialogForm .event_form .current_checkbox {
  width: 100%;
}
.genealogyEventDialogForm .event_form .current_checkbox .living,
.genealogyEventDialogForm .event_form .current_checkbox .deceased {
  display: none;
}
.genealogyEventDialogForm .event_form .address_current_checkbox .living,
.genealogyEventDialogForm .event_form .address_current_checkbox .deceased {
  display: none;
}
.genealogyEventDialogForm .event_form.address_dates {
  margin-top: 30px;
}
.genealogyEventDialogForm .event_form.address_dates.empty {
  display: block;
}
.genealogyEventDialogForm .event_form .row_gap {
  height: 14px;
}
.genealogyEventDialogForm .event_form .label_row_gap {
  height: 4px;
}
.genealogyEventDialogForm .alternateNames .language_label {
  width: 10px;
}
.genealogyEventDialogForm .alternateNames .first_name,
.genealogyEventDialogForm .alternateNames .last_name {
  width: 195px;
}
.genealogyEventDialogForm .alternateNames .prefix,
.genealogyEventDialogForm .alternateNames .suffix {
  width: 82px;
}
.genealogyEventDialogForm .alternateNames td.prefix,
.genealogyEventDialogForm .alternateNames td.first_name,
.genealogyEventDialogForm .alternateNames td.last_name {
  padding-right: 10px;
}
.genealogyEventDialogForm .alternateNames td.label {
  padding-bottom: 2px;
}
.genealogyEventDialogForm .alternateNames .separator_top {
  border-bottom: solid 1px #dedddd;
}
.genealogyEventDialogForm .alternateNames .separator_top,
.genealogyEventDialogForm .alternateNames .separator_bottom {
  height: 20px;
}
.genealogyEventDialogForm td.alternateNameAdd {
  padding-top: 14px;
}
.genealogyEventDialogForm .reason {
  padding-top: 14px;
}
.genealogyEventDialogForm .reason a {
  color: #595959;
}
.genealogyEventDialogForm .reason .toggle {
  padding-top: 5px;
}
.genealogyEventDialogForm .reason textarea {
  height: 60px;
  width: 100% !important;
  border: 1px solid #dedddd;
  padding: 7px;
  border-radius: 3px;
  box-sizing: border-box;
}

.delete_icon {
  width: 13px;
  height: 15px;
  margin: 0 -2px 2px;
  background-image: url("/FP/Assets/Images/Icons/delete_icon.png?v=2");
}