/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/**
* Transforms a given palette color to the transparent version of it
*/
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/**
* Transforms a given palette color to the transparent version of it
*/
/* stylelint-disable */
/* stylelint-disable */
.popup_dialog_parent {
  display: none;
}
.popup_dialog_parent .popup_dialog_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 475;
}
.popup_dialog_parent .popup_dialog {
  z-index: 480;
}

.show_popup_overlay .popup_dialog_parent {
  display: block;
}
.show_popup_overlay .promotional_banner {
  z-index: 470;
}

#newPopupwindow {
  display: none;
  position: relative;
}

.newPopupOuterContainerRounderCorners {
  border-radius: 16px 36px 36px 16px;
  -moz-border-radius: 16px 36px 36px 16px;
  -webkit-border-radius: 16px 36px 36px 16px;
}

.newPopupContainer {
  position: relative;
  background-color: #fff;
  color: #595959;
  border-radius: 4px;
}

/* Old site popup */
/* ============== */
.popupMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/FP/Themes/Site/0001/Popup2/Images/maskBG.png");
  background-repeat: repeat;
  display: none;
}

#dragCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: transparent !important;
}

.popupContentPlace1 {
  padding-left: 48px;
}

.popupPicfrLeft {
  background-repeat: repeat-y;
  background-position: left;
}

.popupPicfrRight {
  background-repeat: repeat-y;
  background-position: right;
}

.popupMainTableImage {
  padding-left: 20px;
  padding-bottom: 20px;
}

.popupTitleBar {
  border-left: 1px solid #78a3f2;
  border-end: 1px solid #204095;
  background-color: #486cae;
  color: #fff;
  font-weight: bold;
  height: 15px;
  padding: 2px;
  border-bottom: 2px solid #000;
  border-top: 1px solid #78a3f2;
  position: relative;
  text-align: center;
}

body.popup {
  min-width: 0;
}

/* Language selector popup */
/* ======================= */
.languageSelectorLinkTooltip {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  display: block;
  top: 50%;
  bottom: 100%;
  right: 100%;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.languageSelectorLabel {
  position: relative;
  display: block;
  width: 127px;
  margin-bottom: 6px;
}
.languageSelectorLabel a {
  font-weight: bold;
  cursor: default;
  color: #595959;
}
.languageSelectorLabel a:hover {
  text-decoration: none;
}

.languageSelectorLink {
  position: relative;
  display: block;
  width: 127px;
  margin-bottom: 6px;
}
.languageSelectorLink a:hover {
  text-decoration: none;
}
.languageSelectorLink a:hover .spike {
  visibility: visible;
  opacity: 1;
  background-repeat: no-repeat;
  background-image: url("/FP/Assets/Images/Misc/tooltipSpike_LTR.png?v=3");
  background-position: right top;
  margin: -4px 4px 0 0;
  padding: 4px 4px 4px 0;
}

.language_list .languages_column {
  float: left;
}
.language_list .languages_column ul {
  padding: 0;
}
.language_list .languages_column li {
  display: block;
}

.missing_language_prompt {
  margin-top: 34px;
}
.missing_language_prompt a {
  color: #d14900 !important;
}

.languageSelectorLinkTooltipText {
  margin-top: -10px;
  background-color: #707174;
  color: #fff !important;
  display: block;
  font-size: 12px;
  line-height: 14px;
  padding: 4px 8px;
  white-space: nowrap;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  text-align: left;
}

/* Old site popup */
/* ============== */
.popupContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 0;
}

.popupInner {
  border: 2px solid #000;
  background-color: #fff;
}

.popupFrame {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.popupTitleShadow {
  display: none;
}

.popupTitle {
  font-size: 0;
}

.popupControls {
  cursor: pointer;
}

.PopupClose,
.PopupCloseRoll {
  background-image: url("/FP/Assets/Images/MasterPage/masterPageSprite.png?v=5");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  overflow: hidden;
}

.PopupClose {
  background-position: -100px -92px;
}

.PopupCloseRoll {
  background-position: -100px -108px;
}

.FL_Popupfooter {
  left: 0;
  background-color: #eee;
  height: 43px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.FL_Popupfooter .ftr_error_message {
  float: left;
  margin-top: 12px;
  margin-left: 13px;
}
.FL_Popupfooter .ftr_preloader {
  float: right;
  display: none;
  margin-top: 8px;
  margin-right: 10px;
}
.FL_Popupfooter .qButton-dnaSmallSite {
  float: right;
  margin-top: 10px;
  margin-right: 6px;
}
.FL_Popupfooter .qButton-dnaSmallSite:first-child {
  margin-right: 13px;
}

.FL_popupContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 0;
}

.FL_popupContainer .popupInner {
  border-width: 0;
}

.FL_popupContainer .popupTitleBar {
  border-top: 2px solid #fff;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom: 1px solid #fff;
  height: 19px;
  background-color: #3195e6;
  padding-top: 4px;
  padding-right: 4px;
  text-align: center;
}

.FL_popupContainer .popupTitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.1;
}

.FL_popupContainer .popupTitleShadow {
  display: block;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #e6e6e6;
  background-color: #d2d2d2;
  height: 1px;
  width: 100%;
  overflow: hidden;
}

.FL_popupContainer .popupShadowBoxContent {
  position: relative;
  bottom: 6px;
  right: 6px;
  margin: 0;
  border: 2px solid #fff;
  border-top-width: 0;
  background-color: #fff;
}

.FL_popupContainer .popupFrame {
  border-top: 1px solid #f7f7f7;
}

.FL_popupContainer .PopupClose,
.FL_popupContainer .PopupCloseRoll {
  background-image: url("/FP/Assets/Images/Common/Clickables.png?v=8");
  background-repeat: no-repeat;
  cursor: pointer;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.FL_popupContainer .PopupClose {
  background-position: -28px 0;
}

.FL_popupContainer .PopupCloseRoll {
  background-position: -28px -17px;
}

.FL_popupContainer .popupShadowBox {
  background-image: url("/FP/Assets/Images/Tagshot/EditPhoto/shadowAlpha.png?v=2");
  background: no-repeat bottom right !important;
  margin: 10px 0 10px 10px !important;
  margin: 10px 0 10px 0;
  padding: 0;
  position: relative;
}

#simplemodal-overlay {
  background-color: #000;
}

/***************************************   */
/* MH DIALOG                            */
/***************************************   */
#popupDynamicStructure {
  position: absolute;
}

.ui-dialog {
  position: absolute;
  max-width: 100%;
}
@media (max-width: 767px) {
  .ui-dialog {
    width: 90% !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
  }
}

#mhDialogContent {
  overflow: hidden;
  background: #fff;
  border-radius: 4px !important;
}
#mhDialogContent .ui-dialog-titlebar {
  display: block;
  min-width: 400px;
  cursor: move;
}
@media (max-width: 767px) {
  #mhDialogContent .ui-dialog-titlebar {
    width: auto;
  }
}
#mhDialogContent .ui-dialog-titlebar-close {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 13px;
  background: none;
  border: none;
  padding: 0;
  outline: 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 200;
  color: #ccc;
}
#mhDialogContent .ui-dialog-titlebar-close:hover {
  color: #595959;
  text-decoration: none;
}
#mhDialogContent .ui-dialog-titlebar-close .ui-icon {
  display: inline-block;
}
#mhDialogContent .ui-dialog-titlebar-close .ui-button-text {
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
}
#mhDialogContent .ui-dialog-buttonset {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  #mhDialogContent .ui-dialog-buttonset {
    display: block;
  }
}
#mhDialogContent button.qButton-dnaSite {
  outline: 0;
  flex-shrink: 0;
}
#mhDialogContent .mhDialogBody,
#mhDialogContent .checkbox_container {
  color: #595959;
  position: relative;
}
#mhDialogContent .checkbox_container {
  align-items: flex-start;
  float: left;
  margin-top: 3px;
  display: flex;
  text-align: left;
  width: 100%;
  padding-bottom: 10px;
}
#mhDialogContent .checkbox_input {
  margin-right: 5px;
}
#mhDialogContent .ui-dialog-buttonpane {
  border-top: 1px solid #e0dddd;
  text-align: right;
  padding: 15px 13px 11px 0;
  overflow: hidden;
}
.mh_responsive.mh_mobile #mhDialogContent {
  font-size: 15px;
}
.mh_responsive.mh_mobile #mhDialogContent .ui-dialog-titlebar-close {
  right: 8px;
  padding: 0 10px;
}
.mh_responsive.mh_mobile #mhDialogContent .ui-dialog-titlebar {
  min-width: auto;
  min-height: 34px;
  padding: 14px 24px 10px 17px;
}

.mhNoIcon {
  display: none;
}

.mhErrorIcon {
  float: left;
  background-position: -2px -20px;
  width: 28px;
  height: 28px;
  margin-top: 4px;
  margin-right: 10px;
}

.mhCofirmIcon {
  float: left;
  background-position: -32px -20px;
  width: 28px;
  height: 28px;
  margin-top: 4px;
  margin-right: 10px;
}

.mhNoticeIcon {
  float: left;
  background-position: -63px -20px;
  width: 34px;
  height: 28px;
  margin-top: 4px;
  margin-right: 10px;
}

.mhDialogMassage {
  display: block;
  float: left;
  max-width: 320px;
}
@media (max-width: 767px) {
  .mhDialogMassage {
    float: none;
  }
}

.ui-widget-overlay {
  left: 0;
  position: fixed;
  top: 0;
  height: 100%;
  background: #000;
  width: 100%;
  opacity: 0.4;
}

.ui-front {
  outline: 0;
  z-index: 1002;
}

.mh_dialog_secondary {
  margin-left: 9px;
}

/***************************************   */
/* END OF MH DIALOG                     */
/***************************************   */
.PK_popupTitle {
  color: #000;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.3px;
  max-height: 48px;
  overflow: hidden;
}

.PK_popupSubtitle {
  width: auto;
  height: 60px;
  font-size: 13px;
  overflow: hidden;
  margin-top: 10px;
  line-height: 1.54;
  letter-spacing: 0.3px;
  color: #595959;
}
@media (max-width: 767px) {
  .PK_popupSubtitle {
    margin-top: 0;
  }
}

.PK_popupLabel {
  font-size: 12px;
  padding-bottom: 2px;
  /* this will create an 8px gap between baseline of the label and the top border of the input box */
  color: #595959;
}

.PK_popupLabelLarge {
  font-size: 16px;
  color: #595959;
}

.PK_popupLink {
  font-size: 12px;
  color: #238ec4;
}

.PK_popupLink:hover,
.PK_popupLinkHover {
  text-decoration: underline;
}

.newPopupTopBar {
  cursor: move;
  padding: 40px 6% 5px 4%;
}

.popup_close {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 13px;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 200;
  color: #ccc;
}
.popup_close:hover {
  color: #595959;
  text-decoration: none;
}

.newPopupBody {
  padding: 33px 31px;
  background-color: #fff;
  min-height: 40px;
}

.newPopupBody .middle {
  background-color: #fff;
}

.PK_popupFooter {
  height: 33px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 36px;
  border-top: 1px solid #e0dddd;
}

.PK_popupFooterleftLink {
  float: left;
  display: table-cell;
  height: 33px;
  max-width: 311px;
  vertical-align: middle;
}

.PK_popupFooterButton {
  float: right;
  margin-right: 8px;
}

/* Frames and curves - New popup */
.newPopupTopBar {
  border-radius: 10px 23pt 0 0;
  -moz-border-radius: 10px 23pt 0 0;
  -webkit-border-radius: 10px 23pt 0 0;
}

.newPopupBody a,
.PK_popupFooterleftLink a {
  color: #e76f2f;
}
.newPopupBody a.prominent,
.PK_popupFooterleftLink a.prominent {
  text-decoration: underline;
}

.languageSelectorLink a {
  color: #414142;
}

.popup_dialog .languageSelectorLabel a,
#mhDialogWrapper .languageSelectorLabel a,
#simplemodal-container .languageSelectorLabel a {
  color: #fff;
  background-color: #d14900;
  padding: 3px;
  font-weight: normal;
}

/* Gender specific headers */
/* Responsive */
.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 767px) {
  .mobile_responsive_popup.smPopupOpen {
    overflow-x: hidden;
    background-color: #f7f7f7;
  }
  .mobile_responsive_popup.smPopupOpen.pushed {
    overflow-y: visible !important;
    position: initial !important;
  }
  .mobile_responsive_popup.smPopupOpen #pk_master_wrapper, .mobile_responsive_popup.smPopupOpen .masterPageBareWrapperDiv {
    display: none;
  }
  .mobile_responsive_popup #simplemodal-container {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    background-color: #f7f7f7 !important;
  }
  .mobile_responsive_popup #simplemodal-overlay {
    background-color: #f7f7f7 !important;
  }
  .mobile_responsive_popup .newPopupContainer {
    background-color: #f7f7f7 !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    padding: 0 !important;
    border-radius: 0;
  }
  .mobile_responsive_popup .newPopupContainer .PK_popupTitle {
    width: 466px;
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
  }
  .mobile_responsive_popup .newPopupContainer .newPopupBody {
    padding-top: 0;
    background-color: #f7f7f7 !important;
  }
  .mobile_responsive_popup .newPopupContainer .newPopupTopBar {
    background-color: #fff !important;
  }
  .mobile_responsive_popup .newPopupContainer .PK_popupLabel {
    font-size: 14px;
    padding-bottom: 5px;
    color: #595959;
  }
  .mobile_responsive_popup .newPopupContainer .PK_popupFooter {
    border: none;
    padding-top: 0;
  }
  .mobile_responsive_popup .newPopupContainer .PK_popupFooterleftLink {
    margin: 0;
    float: none;
    max-width: none;
    font-size: 18px;
  }
  .mobile_responsive_popup .newPopupContainer .PK_popupFooterButton {
    float: none;
    margin: 15px 0 0;
  }
  .mobile_responsive_popup .newPopupContainer .css_button {
    width: 87%;
    height: 28px;
    padding: 13px;
    font-size: 19px;
    background-image: none !important;
  }
  .mobile_responsive_popup .newPopupContainer .css_button:last-child {
    margin-bottom: 30px;
  }
  .mobile_responsive_popup.mh_responsive input {
    box-sizing: border-box;
  }
  .mobile_responsive_popup.mh_responsive input[type=text], .mobile_responsive_popup.mh_responsive input[type=password], .mobile_responsive_popup.mh_responsive input[type=email], .mobile_responsive_popup.mh_responsive input:not([type]) {
    -webkit-appearance: none;
  }
  .mobile_responsive_popup.mh_responsive .newPopupContainer .css_button:last-child {
    margin-bottom: 0;
    padding: 2px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  .mobile_responsive_popup.mh_responsive .editProfileBodyContainer,
.mobile_responsive_popup.mh_responsive .newPopupBody,
.mobile_responsive_popup.mh_responsive .attachDetachBodyContainer {
    margin: 0;
    padding: 15px;
    overflow-y: auto;
    height: calc(100% - 133px);
    background-color: white !important;
    -webkit-overflow-scrolling: touch;
  }
  .mobile_responsive_popup.mh_responsive .newPopupContainer.has_subtitle .newPopupBody {
    height: calc(100% - 193px);
  }
  .mobile_responsive_popup.mh_responsive #popupDynamicStructure {
    width: 100%;
  }
  .mobile_responsive_popup.mh_responsive .mhDialogMassage {
    float: none;
  }
  .mobile_responsive_popup.mh_responsive .qButton-right {
    width: calc(100% - 37px);
    padding-right: 22px;
  }
  .mobile_responsive_popup.mh_responsive .qButton-left {
    margin-left: 0;
  }
  .mobile_responsive_popup.mh_responsive .select-replace,
.mobile_responsive_popup.mh_responsive .gdp_dateTypePickerLinkContainer,
.mobile_responsive_popup.mh_responsive select {
    height: 25px;
    font-size: 16px;
  }
  .mobile_responsive_popup.mh_responsive .PK_popupTitle {
    font-size: 17px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  .mobile_responsive_popup.mh_responsive .newPopupTopBar {
    padding: 4px 30px;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 2px 8px 0 #f2f2f2;
  }
  .mobile_responsive_popup.mh_responsive .mini_signup_terms {
    font-size: 12px;
    display: block;
    margin-top: 5px;
  }
  .mobile_responsive_popup.mh_responsive .PK_popupFooter {
    padding: 10px;
    height: 33px;
    display: flex;
    text-align: center;
    position: relative;
    box-shadow: 0 -3px 8px 2px rgba(0, 0, 0, 0.1);
  }
  .mobile_responsive_popup.mh_responsive .PK_popupFooter::after {
    content: "";
    display: block;
    clear: both;
  }
  .mobile_responsive_popup.mh_responsive .PK_popupFooterButton {
    margin: 0 auto !important;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    max-width: 660px;
    position: relative;
    left: 3px;
  }
  .mobile_responsive_popup.mh_responsive .PK_popupFooterButton table {
    width: 45%;
  }
  .mobile_responsive_popup.mh_responsive #popupButton_cancelBtn {
    padding-right: 4px;
    left: 0;
  }
  .mobile_responsive_popup.mh_responsive #popupButton_OKBtn {
    padding-left: 4px;
    left: 0;
  }
  .mobile_responsive_popup.mh_responsive .PK_popupFooterleftLink {
    display: none;
  }
  .mobile_responsive_popup.mh_responsive .newButtonSpriteMiddle-dnaSite-normal,
.mobile_responsive_popup.mh_responsive .newButtonSpriteMiddle-pkSite-normal,
.mobile_responsive_popup.mh_responsive .newButtonSpriteMiddle-dnaSite-hover,
.mobile_responsive_popup.mh_responsive .newButtonSpriteMiddle-pkSite-hover,
.mobile_responsive_popup.mh_responsive .newButtonSpriteMiddle-dnaSite-disabled,
.mobile_responsive_popup.mh_responsive .newButtonSpriteMiddle-pkSite-disabled {
    width: 100%;
  }
  .mobile_responsive_popup.mh_responsive #mhDialogContent {
    font-size: 15px;
  }
  .mobile_responsive_popup.mh_responsive #mhDialogContent .ui-dialog-titlebar-close {
    right: 8px;
    padding: 0 10px;
  }
  .mobile_responsive_popup.mh_responsive #mhDialogContent .ui-dialog-titlebar {
    min-width: auto;
    padding: 14px 24px 10px 17px;
  }
  .mobile_responsive_popup.mh_responsive .mhDialogBody {
    max-height: calc(100vh - 230px);
  }
  .mobile_responsive_popup.mh_responsive .ErrorBox,
.mobile_responsive_popup.mh_responsive .WarningBox {
    box-sizing: border-box;
    width: 100%;
  }
  .mobile_responsive_popup.mh_responsive.new_tree_facelift .editProfileBodyContainer,
.mobile_responsive_popup.mh_responsive.new_tree_facelift .newPopupBody,
.mobile_responsive_popup.mh_responsive.new_tree_facelift .attachDetachBodyContainer,
.mobile_responsive_popup.mh_responsive .personal_photo_uploader_dialog .editProfileBodyContainer,
.mobile_responsive_popup.mh_responsive .personal_photo_uploader_dialog .newPopupBody,
.mobile_responsive_popup.mh_responsive .personal_photo_uploader_dialog .attachDetachBodyContainer {
    height: calc(100% - 157px);
  }
  .mobile_responsive_popup.mh_responsive.new_tree_facelift .PK_popupFooter,
.mobile_responsive_popup.mh_responsive .personal_photo_uploader_dialog .PK_popupFooter {
    background-color: white !important;
    height: 57px;
  }
  .mobile_responsive_popup.mh_responsive.new_tree_facelift .PK_popupFooterButton,
.mobile_responsive_popup.mh_responsive .personal_photo_uploader_dialog .PK_popupFooterButton {
    margin: 0 10px !important;
    left: 0;
  }
  .mobile_responsive_popup.mh_responsive.new_tree_facelift .PK_popupFooterButton .css_button,
.mobile_responsive_popup.mh_responsive .personal_photo_uploader_dialog .PK_popupFooterButton .css_button {
    font-weight: normal;
  }
  .mobile_responsive_popup.mh_responsive.new_tree_facelift #popupButton_,
.mobile_responsive_popup.mh_responsive .personal_photo_uploader_dialog #popupButton_ {
    display: none;
  }
  .mobile_responsive_popup #popupDialog {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
  }
}

/* Native HTML dialog popups start */
.popup_dialog {
  position: absolute;
  margin: 0 auto;
  border-radius: 4px;
  animation: fade-in 0.2s ease-in-out;
  overflow: visible;
  outline-width: 0;
}
@media (min-width: 768px) {
  .popup_dialog {
    height: 100vh;
    max-height: none;
    background-color: transparent;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
}
.popup_dialog::-webkit-backdrop {
  animation: fade-in 0.2s ease-in-out;
  background-color: #000;
  opacity: 0.5;
}
.popup_dialog::backdrop {
  animation: fade-in 0.2s ease-in-out;
  background-color: #000;
  opacity: 0.5;
}
.popup_dialog.dialog_fade_out {
  animation: fade-out 0.4s forwards ease-in-out;
}
.popup_dialog.dialog_fade_out::-webkit-backdrop {
  animation: fade-out 0.2s 0.3s forwards ease-in-out;
}
.popup_dialog.dialog_fade_out::backdrop {
  animation: fade-out 0.2s 0.3s forwards ease-in-out;
}
@media (min-width: 768px) {
  .popup_dialog .newPopupContainer {
    top: 50%;
    transform: translateY(-50%);
  }
}
.popup_dialog .newPopupTopBar {
  cursor: default;
}
.popup_dialog .formErrorOuter {
  align-self: flex-start;
}
.popup_dialog .formError {
  font-size: 12px;
}
@media (min-width: 768px) {
  .popup_dialog .formError {
    left: 50% !important;
    transform: translateX(-50%);
  }
}
.popup_dialog input[type=radio] + .formErrorOuter,
.popup_dialog input[type=checkbox] + .formErrorOuter {
  display: inline-block;
  transform: translateX(-8px);
}

/* Native HTML dialog popups end */
/**
    The following classes are for the usage of the <dialog> used in htdocs/FP/Assets/Applications/ClientRequestsManipulator/index.js
    TODO: move them to a dedicated new scss file
 */
dialog.mh_basic_dialog::-webkit-backdrop {
  background-color: #000;
  opacity: 0.5;
}
dialog.mh_basic_dialog::backdrop {
  background-color: #000;
  opacity: 0.5;
}

.mh_basic_dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 475px;
}
@media (max-width: 991px) {
  .mh_basic_dialog {
    width: 70%;
  }
}
.mh_basic_dialog .mh_basic_dialog_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 30px;
}
@media (max-width: 991px) {
  .mh_basic_dialog .mh_basic_dialog_content {
    padding: 30px 16px;
  }
}
.mh_basic_dialog .mh_basic_dialog_content .mh_basic_dialog_notice_icon {
  min-width: 34px;
  min-height: 28px;
}
.mh_basic_dialog .mh_basic_dialog_content .mh_basic_dialog_message {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.mh_basic_dialog .mh_basic_dialog_close_button {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: 0;
}
.mh_basic_dialog .mh_basic_dialog_close_button .close-icon {
  display: inline-block;
}
.mh_basic_dialog .mh_basic_dialog_footer {
  padding: 16px 12px;
  display: flex;
  justify-content: flex-end;
}
.mh_basic_dialog .mh_basic_dialog_footer .mh_basic_dialog_ok_button {
  color: #fff;
  background-color: var(--theme-color-100, #d14900);
  border: none;
  border-radius: 100px;
  font-size: 15px;
  padding: 4px 24px;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/**
* Transforms a given palette color to the transparent version of it
*/
/* stylelint-disable */
/* Navigation regions */
/* =================== */
.pk_site_navigation_regionsNewPrompt {
  position: relative;
  top: -4px;
}

/* Navigation sections */
/* =================== */
.pk_site_navigation_sectionsNewPrompt {
  position: relative;
  top: -2px;
}

/* SlideNavigator */
/* ================ */
.sn_button {
  background-image: url("/FP/Assets/Images/Misc/slideNavigator.png?v=1");
}

.sn_button_gray {
  background-image: url("/FP/Assets/Images/Misc/slideNavigator_gray.png?v=2");
}

#sn_start,
#sn_end {
  width: 12px;
  height: 13px;
  background-repeat: no-repeat;
  display: block;
  float: left;
}

#sn_start {
  margin-right: 3px;
  background-position: -2px -2px;
}

#sn_start:hover {
  background-position: -2px -17px;
}

#sn_end {
  margin-left: 17px;
  background-position: -16px -2px;
}

#sn_end:hover {
  background-position: -16px -17px;
}

.sn_bullet,
.sn_bullet_active {
  width: 6px;
  height: 6px;
  margin-top: 4px;
  margin-left: 14px;
  background-repeat: no-repeat;
  display: block;
  float: left;
}

.sn_bullet {
  background-position: -30px -2px;
}

.sn_bullet:hover {
  background-position: -30px -10px;
}

.sn_bullet_active {
  background-position: -30px -18px;
}

/*
 * Individuals ComboBox
 */
.individuals_combo_box_wrapper {
  position: relative;
}
.individuals_combo_box_wrapper .combo_box_arrow,
.individuals_combo_box_wrapper .combo_box_magnify {
  position: absolute;
}
.individuals_combo_box_wrapper .combo_box_arrow {
  top: 7px;
}
.individuals_combo_box_wrapper .combo_box_arrow img {
  display: block;
}
.individuals_combo_box_wrapper .combo_box_magnify {
  display: block;
  top: 6px;
}
.individuals_combo_box_wrapper .FL_FieldText {
  padding-right: 20px;
  box-sizing: border-box;
}

.drop-item {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #e5e0d8;
  overflow: hidden;
  background-repeat: repeat-y;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(90, 86, 77, 0.3);
  font-size: 12px;
  padding: 10px 10px 5px;
  min-height: 47px;
  border-bottom-color: #eae8e7;
}

a.drop-item:hover {
  text-decoration: none;
}

.drop-status {
  padding: 9px 14px 2px;
  font-size: 14px;
}

.drop-status-text {
  color: black;
  padding: 1px 12px 0;
  vertical-align: middle;
  white-space: normal;
}

.drop-status-icon {
  vertical-align: middle;
}

.autocomplete_div {
  position: relative;
  z-index: 500;
}

.autocomplete_input {
  border: 1px solid #a5acb2;
  width: 298px;
}

.dropdown {
  z-index: 500;
  background-color: #fbfbfb;
  white-space: nowrap;
  overflow: auto;
  height: 10px;
  overflow-x: hidden;
  display: none;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #eae8e7;
  border-top: none;
  box-shadow: -3px 2px 7px rgba(150, 150, 150, 0.5), 3px 2px 7px rgba(150, 150, 150, 0.5);
  border-radius: 0 0 8px 8px;
  padding-bottom: 7px;
}

.drop-item .drop-img,
.drop-item .drop-text,
.drop-status .drop-img,
.drop-status .drop-text {
  float: left;
}

.drop-item .drop-img {
  width: 30px;
  height: 40px;
  position: relative;
}

.drop-status .drop-img {
  padding: 10px;
  width: 56px;
  height: 70px;
}

.drop-item .drop-text {
  margin-left: 10px;
  width: 80%;
  white-space: nowrap;
  color: #616160;
}

.text-box-loading {
  background: url(/FP/Assets/Images/Misc/Loading-2.gif) no-repeat scroll 100% 5%;
  background-color: #fff;
}

#autocomplete {
  border: 1px solid #a5acb2;
  width: 310px;
}

.sel {
  background-color: #efede9;
}

.autocomplete-name {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  min-height: 44px;
  /*	font-weight:bold;
  */
}

.autocomplete-relation,
.autocomplete-date {
  font-size: 12px;
  font-weight: normal;
}

.ReducedSizeTextGreyLabel {
  font-size: 11px;
  font-weight: normal;
}

.BreadcrumbsSeparator {
  color: #595959;
  font-size: 16px;
}

.autocomplete-relation {
  color: #8f897a;
}

img.autocomplete-image {
  border-radius: 3px;
  width: 30px;
  height: 40px;
}

.autocomplete-image-silhouette {
  width: 30px;
  height: 40px;
}

/*
 * End of Individuals ComboBox
 */
/*
 * Standard mode CSS replaces to rounded pannels
 */
.CssAssociationRoundedPanel,
.CssLightBlueRoundedPanel,
.CssGrayRoundedPanelSmall {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 4px;
}

.CssAssociationRoundedPanel {
  background-color: #fef7dd;
}

.CssLightBlueRoundedPanel {
  background-color: #e9f6ff;
}

.CssGrayRoundedPanelSmall {
  background-color: #f6f6f6;
}

.CssGrayBorderNoGradient {
  border: 1px solid #cdd4d9;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 4px;
}

/*
 * Override classes from common.css when used in standard pages
 */
/* start of inner tabs */
td.FL_InnerTabs[align=center] {
  text-align: center;
}

.FL_InnerTabsActiveCenter,
.FL_InnerTabsActiveCenter_Roll,
.FL_InnerTabsInactiveCenter,
.FL_InnerTabsInactiveCenter_Roll {
  height: 23px;
  box-sizing: content-box;
}

.FL_InnerTabsInactiveCenter,
.FL_InnerTabsInactiveCenter_Roll {
  padding-top: 4px;
}

/* end of inner tabs */
/* start of action buttons */
.outerButtonTable td[valign=middle] {
  vertical-align: middle;
}

a.ActionButtonLabel {
  display: block;
}

/* end of action buttons */
/* Link with Callout icons */
img.MyHeritageStaff,
img.MyHeritageStaffLarge,
img.PremiumPlusMember,
img.PremiumPlusMemberLarge,
img.CompleteMember,
img.CompleteMemberLarge,
img.VipMember,
img.VipMemberLarge,
img.PayingMember,
img.PayingMemberLarge,
img.PowerUser,
img.PowerUserLarge,
img.PayingPowerUserLarge,
img.PayingPowerUser,
img.InfoIconLTR,
img.InfoIconRTL {
  vertical-align: baseline;
}

/* Map callout classes */
.map_callout_link img {
  position: relative;
  top: -2px;
}

/* rounded panel - standard mode */
.StandardRoundedPanel {
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
.StandardRoundedPanel.BlueShortRoundedPanel, .StandardRoundedPanel.GrayShortRoundedPanel {
  padding: 5px 6px;
}
.StandardRoundedPanel.lightOrangeDeepRoundedPanel, .StandardRoundedPanel.lightGreenDeepRoundedPanel, .StandardRoundedPanel.lightRedDeepRoundedPanel, .StandardRoundedPanel.lightGrayDeepRoundedPanel {
  border-radius: 15px;
  padding: 15px;
}

/* rounded panel - standard mode */
.StandardRoundedGradient {
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

.yellowGrayGradient {
  border: 1px solid #e8e8e8;
  background-image: linear-gradient(to bottom, #fafaf0, #fffcd4 98px, #fffcd4);
}

#dayCalloutGradient,
#dayCalloutGradientLoading {
  width: 339px;
  background-image: linear-gradient(to bottom, #e6f2fc, #fff);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

#dayCalloutGradient {
  position: absolute;
}

#dayCalloutGradientLoading {
  height: 76px;
  text-align: center;
  line-height: 76px;
  margin-top: 31px;
  margin-bottom: 20px;
  margin-left: 8px;
}

/* Navigation_Generic Widget */
/* ========================= */
.navigationGenericBox {
  padding: 5px 0;
  background-color: #fbf7f4;
  border-radius: 7px;
  box-shadow: 0 2px 0 #d5d5d4;
}

.navigationGenericBox .header {
  border-bottom: 1px solid #e6e6e6;
  margin-left: 20px;
  padding: 8px 20px 15px 0;
}

.navigationGenericBox ul {
  list-style-type: none;
  padding: 0 0 20px 17px;
}

.navigationGenericBox li a,
.navigationGenericBox li .selected,
.navigationGenericBox li .title {
  padding: 6px;
  border-bottom: 1px solid #e6e6e6;
  display: block;
}

.navigationGenericBox li .indented {
  padding-left: 16px;
}

.navigationGenericBox .selected {
  background: #fff;
}

.navigationGenericBox .selected span {
  color: #105a83;
}

.navigationGenericBox .title span {
  display: block;
  font-weight: bold;
  overflow-x: hidden;
}

ul.SideNavigationPanel {
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  list-style-type: none;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
ul.SideNavigationPanel li {
  border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.whatsThisShadowBox {
  background-color: white;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.EditableDropDown {
  top: 0;
}

.standardVerticalAlignTop {
  vertical-align: top;
}

.standardVerticalAlignMiddle {
  vertical-align: middle;
}

.standardVerticalAlignBottom {
  vertical-align: bottom;
}

.standardMarginRight {
  margin-right: 5px;
}

.standardBackgroundRepetitionX {
  background-repeat: repeat-x;
}

.standardBackgroundRepetitionY {
  background-repeat: repeat-y;
}

.standardBackgroundRepetition {
  background-repeat: repeat;
}

.standardFloating {
  float: right;
}

.standardLineHeightStyling {
  line-height: 0;
}

.standardPaddingUpStyling {
  padding-top: 0;
}

.PhotoOuterBorder {
  border: 1px solid #a9a9a9;
}

.highlight-text {
  background-color: #ffeab2;
  font-weight: bold;
  padding: 2px;
}

/* General Icons */
/* ============= */
.PK_IconsInfoLarge,
.PK_IconsPhoneLarge {
  background-image: url("/FP/Assets/Images/Icons/pk_general_icons.png?v=2");
}

.PK_IconsInfoLarge {
  height: 32px;
  width: 30px;
  background-position: -2px -2px;
}

.PK_IconsPhoneLarge {
  background-position: 43px -2px;
  height: 25px;
  width: 41px;
}

/* Other icons */
/* ========== */
.Icon {
  background-image: url("/FP/Assets/Images/Common/GeneralIcons.png?v=2");
  background-repeat: no-repeat;
}

.IconWeb {
  background-position: -2px -2px;
  width: 25px;
  height: 22px;
}

.IconWebDimmed {
  background-position: -29px -2px;
  width: 25px;
  height: 22px;
}

.IconGreenTree {
  background-position: -2px -26px;
  width: 11px;
  height: 14px;
}

/* Notification Icons */
/* ================== */
.PK_NotificationIcon {
  background-image: url("/FP/Assets/Images/Common/PK_NotificationIcons.png?v=8");
  background-repeat: no-repeat;
}

.PK_NotificationIconSmallredExclamationMark {
  width: 16px;
  height: 16px;
  background-position: -2px -2px;
}

.PK_NotificationIconSmallYellowExclamationMark {
  width: 19px;
  height: 16px;
  background-position: -38px -2px;
}

.PK_NotificationIconSmallgreenCheckmark {
  width: 16px;
  height: 16px;
  background-position: -20px -2px;
}

.PK_NotificationIconSmallorangeExclamationMark {
  width: 19px;
  height: 16px;
  background-position: -38px -2px;
}

.PK_NotificationIconSmallLightYellowInfo {
  width: 16px;
  height: 16px;
  background-position: -98px -2px;
}

.PK_NotificationIconSmallLightYellowExclamationMark {
  width: 19px;
  height: 16px;
  background-position: -77px -2px;
}

.PK_NotificationIconSmallPinkExclamationMark {
  width: 16px;
  height: 16px;
  background-position: -59px -2px;
}

.FL_NotificationIcon {
  background-image: url("/FP/Assets/Images/Common/gradientBoxes.png?v=14");
  background-repeat: no-repeat;
}

.blueMsgGradient .FL_NotificationIcon {
  width: 36px;
  height: 35px;
  background-position: 0 -602px;
}

.greenMsgGradient .FL_NotificationIcon {
  width: 36px;
  height: 35px;
  background-position: 0 -638px;
}

.redMsgGradient .FL_NotificationIcon {
  width: 36px;
  height: 34px;
  background-position: 0 -674px;
}

/* Photos Header Icon Sprite */
.PhotosHeaderAlbumsIcon,
.PhotosHeaderImplicitIcon,
.PhotosHeaderSearchIcon,
.BinocularsIcon {
  background-image: url("/FP/Assets/Images/Common/HeaderIcons.gif?v=3");
  background-repeat: no-repeat;
}

.PhotosHeaderAlbumsIcon {
  width: 43px;
  height: 33px;
  background-position: 0 0;
}

.PhotosHeaderImplicitIcon {
  width: 26px;
  height: 33px;
  background-position: -44px 0;
}

.PhotosHeaderSearchIcon {
  width: 27px;
  height: 33px;
  background-position: -71px 0;
}

.BinocularsIcon {
  width: 64px;
  height: 34px;
  background-position: -127px 0;
}

/* Flag Icons */
/* ========== */
.flag {
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
  line-height: 0;
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-clip-path: circle(10px);
  clip-path: circle(10px);
  /**
   * Create a border around flag
   * Needed for flags with white parts on white background
  */
}
.flag img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.flag img {
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
}
.flag::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
  position: absolute;
}
.flag.flag_size_medium {
  width: 24px;
  height: 24px;
  -webkit-clip-path: circle(12px);
  clip-path: circle(12px);
  /**
   * Create a border around flag
   * Needed for flags with white parts on white background
  */
}
.flag.flag_size_medium img {
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
}
.flag.flag_size_medium::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
  position: absolute;
}
.flag.flag_size_large {
  width: 30px;
  height: 30px;
  -webkit-clip-path: circle(15px);
  clip-path: circle(15px);
  /**
   * Create a border around flag
   * Needed for flags with white parts on white background
  */
}
.flag.flag_size_large img {
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
}
.flag.flag_size_large::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
  position: absolute;
}