/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/**
* Transforms a given palette color to the transparent version of it
*/
/* stylelint-disable */
#ManageParentsContainer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
#ManageParentsContainer.open {
  display: block;
}
#ManageParentsContainer.no_edit .manage_parents_families .parent {
  cursor: auto;
}
#ManageParentsContainer.no_edit .manage_parents_families .parent.add_parent {
  visibility: hidden;
}

.mh_tablet #ManageParentsContainer,
.mh_tablet #ManageParentsContainer * {
  box-sizing: border-box;
}

#ManageParentsWindow {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 634px;
  border: solid 1px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.1);
  font-size: 13px;
  letter-spacing: 0.3px;
  z-index: 1000;
  color: #595959;
  background-color: #fff;
}
.mh_mobile #ManageParentsWindow {
  border: none;
  border-radius: 0;
  box-shadow: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transform: none;
}
#ManageParentsWindow .progress {
  width: 40px;
  height: 40px;
}
#ManageParentsWindow .manage_parents_header {
  padding: 24px 40px 0 40px;
  font-size: 22px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
}
.mh_mobile #ManageParentsWindow .manage_parents_header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 24px 40px 15px 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  z-index: 1001;
}
#ManageParentsWindow .manage_parents_close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url("/FP/Assets/Images/Common/close_20x20.svg?v=1");
  background-repeat: no-repeat;
}
#ManageParentsWindow .manage_parents_close:hover {
  background-image: url("/FP/Assets/Images/Common/close_hover_20x20.svg?v=1");
}
.mh_mobile #ManageParentsWindow .manage_parents_close {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  background-image: url("/FP/Assets/Images/Common/close_24x24.svg?v=1");
}
#ManageParentsWindow .manage_parents_content {
  padding: 6px 40px;
}
.mh_mobile #ManageParentsWindow .manage_parents_content {
  padding: 12px 0;
  position: absolute;
  top: 60px;
  bottom: 71px;
  overflow: auto;
}
#ManageParentsWindow .manage_parents_subtitle {
  font-size: 15px;
  padding-bottom: 30px;
}
.mh_mobile #ManageParentsWindow .manage_parents_subtitle {
  padding: 0 20px 20px 20px;
}
#ManageParentsWindow .family_types_menu {
  display: none;
  position: absolute;
  z-index: 200;
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.03);
  overflow: auto;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px 0;
  transition: opacity 0.1s linear, visibility 0.1s linear;
}
#ManageParentsWindow .family_types_menu .entry {
  cursor: pointer;
  width: 100%;
  color: #595959;
  padding: 0 20px;
  line-height: 40px;
  display: flex;
}
#ManageParentsWindow .family_types_menu .entry:hover {
  background-color: #f7f7f7;
}
#ManageParentsWindow .family_types_menu .entry .label {
  display: inline-flex;
  width: 100%;
  padding-right: 16px;
}
#ManageParentsWindow .family_types_menu .entry .icon {
  display: inline-flex;
  padding: 12px 0;
}
#ManageParentsWindow .family_types_menu .entry.selected {
  color: #d14900;
}
#ManageParentsWindow .family_types_menu .entry.selected .icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-top: 13px;
  transform: scale(1.5);
  margin-top: 16px;
  background-repeat: no-repeat;
  background-image: url("/FP/Assets/Images/NewTree/check_entry.svg?v=1");
}
#ManageParentsWindow .family_types_menu.open {
  display: block;
}
#ManageParentsWindow .manage_parents_families.recalculating {
  opacity: 0.2;
}
#ManageParentsWindow .manage_parents_families .family {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 14px 30px 30px 30px;
  margin-bottom: 20px;
}
.mh_mobile #ManageParentsWindow .manage_parents_families .family {
  box-shadow: none;
  border-radius: 0;
  padding: 14px 20px 30px 20px;
  margin-bottom: 15px;
  border-bottom: solid 1px #e5e5e5;
}
#ManageParentsWindow .manage_parents_families .family_type {
  margin-left: -10px;
  margin-bottom: 15px;
}
#ManageParentsWindow .manage_parents_families .family_type_selector,
#ManageParentsWindow .manage_parents_families .switch_family {
  display: inline-block;
  vertical-align: middle;
}
#ManageParentsWindow .manage_parents_families .family_type_selector {
  padding: 6px 10px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}
#ManageParentsWindow .manage_parents_families .family_type_selector:hover {
  background-color: #f2f2f2;
}
#ManageParentsWindow .manage_parents_families .family_type_selector .value,
#ManageParentsWindow .manage_parents_families .family_type_selector .selector {
  display: inline-block;
  vertical-align: middle;
}
#ManageParentsWindow .manage_parents_families .family_type_selector .value {
  color: #000;
  font-weight: 500;
  font-size: 15px;
  margin-right: 5px;
  min-width: 40px;
}
#ManageParentsWindow .manage_parents_families .family_type_selector .selector::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 3px;
  background-repeat: no-repeat;
  background-image: url("/FP/Assets/Images/Common/arrow-down.svg?v=1");
}
#ManageParentsWindow .manage_parents_families .family_type_selector.open .selector::after {
  background-image: url("/FP/Assets/Images/Common/arrow-up.svg?v=1");
}
#ManageParentsWindow .manage_parents_families .family_type_selector.fixed {
  cursor: auto;
}
#ManageParentsWindow .manage_parents_families .family_type_selector.fixed:hover {
  background-color: unset;
}
#ManageParentsWindow .manage_parents_families .family_type_selector.fixed .selector {
  display: none;
}
#ManageParentsWindow .manage_parents_families .switch_family {
  margin-top: 8px;
  float: right;
  cursor: pointer;
}
#ManageParentsWindow .manage_parents_families .switch_family:hover {
  text-decoration: underline;
}
#ManageParentsWindow .manage_parents_families .parent {
  display: inline-block;
  vertical-align: middle;
  border: solid 1px #ccc;
  width: calc(50% - 9px);
  height: 72px;
  border-radius: 6px;
  cursor: pointer;
}
.mh_mobile #ManageParentsWindow .manage_parents_families .parent {
  width: 100%;
}
#ManageParentsWindow .manage_parents_families .parent:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0) 50%);
}
#ManageParentsWindow .manage_parents_families .parent .image,
#ManageParentsWindow .manage_parents_families .parent .details {
  display: inline-block;
  vertical-align: middle;
}
#ManageParentsWindow .manage_parents_families .parent .image {
  width: 72px;
  height: 72px;
  padding: 12px;
}
#ManageParentsWindow .manage_parents_families .parent .photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
#ManageParentsWindow .manage_parents_families .parent .silhouette {
  border: solid 1px #ccc;
}
#ManageParentsWindow .manage_parents_families .parent .details {
  padding: 4px 0;
  width: 156px;
}
#ManageParentsWindow .manage_parents_families .parent .name {
  font-weight: bold;
  color: #333;
  max-height: 37px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#ManageParentsWindow .manage_parents_families .parent_separator {
  display: inline-block;
  width: 18px;
}
#ManageParentsWindow .manage_parents_families .parent_2 {
  margin-left: 8px;
}
#ManageParentsWindow .manage_parents_families .father {
  border-color: #17b4ce;
}
#ManageParentsWindow .manage_parents_families .mother {
  border-color: #fc8181;
}
#ManageParentsWindow .add_more_parents {
  padding: 16px 0 20px 0;
}
.mh_mobile #ManageParentsWindow .add_more_parents {
  padding: 10px 20px 20px 20px;
}
#ManageParentsWindow .add_more_parents .label {
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
#ManageParentsWindow .add_more_parents .add_parents_button {
  display: inline-block;
  vertical-align: middle;
  margin-top: 16px;
  margin-right: 12px;
  border: solid 1px #ccc;
  border-radius: 20px;
  padding: 7px 16px 5px 12px;
  cursor: pointer;
}
#ManageParentsWindow .add_more_parents .add_parents_button:last-child {
  margin-right: 0;
}
#ManageParentsWindow .add_more_parents .add_parents_button::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-image: url("/FP/Assets/Images/NewTree/add_parents.svg?v=1");
}
#ManageParentsWindow .add_more_parents .add_parents_button:hover {
  background-color: #f2f2f2;
}
#ManageParentsWindow .manage_parents_footer {
  padding: 18px 35px 32px 35px;
  text-align: right;
}
.mh_mobile #ManageParentsWindow .manage_parents_footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05);
  padding: 16px;
  height: 80px;
  z-index: 1001;
}
#ManageParentsWindow .manage_parents_footer .done_button {
  display: inline-block;
  border-radius: 50px;
  padding: 0.5em 1.33em;
  font-size: 15px;
  color: #fff;
  background-color: #d14900;
  border-color: #d14900;
  margin-bottom: 0;
  min-width: 7.5em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  outline: 0;
}
#ManageParentsWindow .manage_parents_footer .done_button:hover {
  background-color: #ff7c55;
  border-color: #ff7c55;
}