/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/**
* Transforms a given palette color to the transparent version of it
*/
/* stylelint-disable */
.relationship_diagram {
  color: #595959;
}
.relationship_diagram .relationship_diagram_photo {
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  border: solid 1px #767676;
}
.relationship_diagram .relationship_diagram_photo.silhouette {
  border-color: #ccc;
}
.relationship_diagram .relationship_diagram_print,
.relationship_diagram .relationship_diagram_download,
.relationship_diagram .relationship_diagram_edit {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  display: inline-block;
}
.relationship_diagram .relationship_diagram_print::before,
.relationship_diagram .relationship_diagram_download::before,
.relationship_diagram .relationship_diagram_edit::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
.relationship_diagram .relationship_diagram_print:hover,
.relationship_diagram .relationship_diagram_download:hover,
.relationship_diagram .relationship_diagram_edit:hover {
  background-color: #f2f2f2;
}
.relationship_diagram .relationship_diagram_print::before {
  background-image: url("/FP/Assets/Images/RelationshipDiagram/print_hover.svg?v=1");
}
.relationship_diagram .relationship_diagram_download::before {
  background-image: url("/FP/Assets/Images/RelationshipDiagram/download_hover.svg?v=1");
}
.relationship_diagram .relationship_diagram_edit::before {
  background-image: url("/FP/Assets/Images/RelationshipDiagram/edit_hover.svg?v=1");
}
.relationship_diagram .relationship_diagram_close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url("/FP/Assets/Images/Common/close_20x20.svg?v=1");
}
.relationship_diagram .relationship_diagram_close:hover {
  background-image: url("/FP/Assets/Images/Common/close_hover_20x20.svg?v=1");
}
.mh_mobile .relationship_diagram .relationship_diagram_close {
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  background-image: url("/FP/Assets/Images/Common/close_24x24.svg?v=1");
}
.relationship_diagram .relationship_diagram_header,
.relationship_diagram .relationship_diagram_docked_header {
  color: #333;
  z-index: 101;
  overflow: hidden;
}
.mh_mobile .relationship_diagram .relationship_diagram_header,
.mh_mobile .relationship_diagram .relationship_diagram_docked_header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}
.relationship_diagram .relationship_diagram_header.loading,
.relationship_diagram .relationship_diagram_docked_header.loading {
  font-style: italic;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title {
  padding: 20px 36px 14px 24px;
}
.mh_mobile .relationship_diagram .relationship_diagram_header .relationship_diagram_title,
.mh_mobile .relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title {
  padding: 18px 15px;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title.with_print,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title.with_print {
  padding-right: 60px !important;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title.with_print.with_edit,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title.with_print.with_edit {
  padding-right: 100px !important;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_description,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_description {
  color: #595959;
  padding-bottom: 8px;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_description .caption,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_description .caption {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.2px;
}
.mh_mobile .relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_description .caption,
.mh_mobile .relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_description .caption {
  padding-bottom: 4px;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_source,
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_swapper,
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_target,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_source,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_swapper,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_target {
  display: table-cell;
  vertical-align: middle;
}
.mh_mobile .relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_source,
.mh_mobile .relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_swapper,
.mh_mobile .relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_image,
.mh_mobile .relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_source,
.mh_mobile .relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_swapper,
.mh_mobile .relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_image {
  display: none;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_image,
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_details,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_image,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_details {
  display: table-cell;
  vertical-align: middle;
}
.mh_mobile .relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_details,
.mh_mobile .relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_details {
  padding-right: 32px;
  display: -ms-grid;
  display: grid;
}
.mh_desktop .relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_details .relationship_diagram_info, .mh_tablet .relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_details .relationship_diagram_info,
.mh_desktop .relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_details .relationship_diagram_info,
.mh_tablet .relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_details .relationship_diagram_info {
  overflow: hidden;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_image,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_image {
  padding-right: 8px;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_photo,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_photo {
  width: 32px;
  height: 32px;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_name,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_name {
  color: #000;
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: 0.35px;
  font-weight: 500;
  padding-bottom: 2px;
  overflow: hidden;
}
.mh_mobile .relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_name,
.mh_mobile .relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_name {
  font-size: 18px;
  font-weight: bold;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_relationship,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_relationship {
  color: #595959;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.3px;
  overflow: hidden;
}
.mh_mobile .relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_relationship,
.mh_mobile .relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_relationship {
  line-height: 1.23;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_swapper,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_swapper {
  padding: 0 18px;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_swapper_buttons,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_swapper_buttons {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_swapper_buttons::before,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_swapper_buttons::before {
  content: "";
  display: block;
  position: relative;
  top: 14px;
  left: 5px;
  width: 37px;
  height: 20px;
  background-image: url("/FP/Assets/Images/RelationshipDiagram/swap_direction_small.svg?v=1");
  background-repeat: no-repeat;
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_swapper_buttons.swapped::before,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_swapper_buttons.swapped::before {
  background-image: url("/FP/Assets/Images/RelationshipDiagram/swap_direction_small_reverse.svg?v=1");
}
.relationship_diagram .relationship_diagram_header .relationship_diagram_title .relationship_diagram_swapper_buttons:hover,
.relationship_diagram .relationship_diagram_docked_header .relationship_diagram_title .relationship_diagram_swapper_buttons:hover {
  background-color: #f2f2f2;
}
.relationship_diagram .relationship_diagram_canvas {
  background-color: #f2f2f2;
  overflow: auto;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card {
  position: absolute;
  box-sizing: border-box;
  border: solid 3px transparent;
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card.source, .relationship_diagram .relationship_diagram_canvas .relationship_diagram_card.target {
  border-color: #d14900;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_card_inner {
  padding: 10px 6px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 6px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card.source .relationship_diagram_card_inner, .relationship_diagram .relationship_diagram_canvas .relationship_diagram_card.target .relationship_diagram_card_inner {
  background-color: #fff6ef;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_image .relationship_diagram_photo {
  width: 32px;
  height: 32px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_details {
  position: relative;
  top: 40px;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.34px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_details .relationship_diagram_name {
  color: #000;
  max-height: 38px;
  overflow: hidden;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_details .relationship_diagram_name .ellipsis {
  font-size: 8px;
  line-height: 9px;
  padding-left: 2px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_details .relationship_diagram_years,
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_details .relationship_diagram_date,
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_details .relationship_diagram_place {
  padding: 2px;
  color: #595959;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_details .relationship_diagram_birth,
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_details .relationship_diagram_death {
  padding-top: 4px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_actions {
  position: absolute;
  top: 6px;
  right: 6px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_actions .relationship_diagram_actions_button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  visibility: hidden;
  background-image: url("/FP/Assets/Images/RelationshipDiagram/options.svg?v=1");
  background-repeat: no-repeat;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_actions .relationship_diagram_actions_button:hover {
  background-image: url("/FP/Assets/Images/RelationshipDiagram/options_hover.svg?v=1");
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_actions .relationship_diagram_actions_menu {
  position: absolute;
  display: none;
  top: 20px;
  left: 0;
  z-index: 1020;
  border: solid 1px #f7f7f7;
  background-color: #fff;
  overflow: auto;
  box-shadow: 0 10px 40px -20px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  padding: 10px 0;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_actions .relationship_diagram_actions_menu.open {
  display: block;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_actions .relationship_diagram_actions_menu .relationship_diagram_actions_menu_item {
  color: #595959;
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card .relationship_diagram_actions .relationship_diagram_actions_menu .relationship_diagram_actions_menu_item:hover {
  background-color: #f7f7f7;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card.source .relationship_diagram_actions_button:hover, .relationship_diagram .relationship_diagram_canvas .relationship_diagram_card.target .relationship_diagram_actions_button:hover {
  background-image: url("/FP/Assets/Images/RelationshipDiagram/options_selected_hover.svg?v=1");
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card:hover .relationship_diagram_actions_button {
  visibility: visible;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card.style_large .relationship_diagram_photo, .relationship_diagram .relationship_diagram_canvas .relationship_diagram_card.style_medium .relationship_diagram_photo {
  width: 48px;
  height: 48px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_card.style_large .relationship_diagram_details, .relationship_diagram .relationship_diagram_canvas .relationship_diagram_card.style_medium .relationship_diagram_details {
  top: 56px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector .relationship_diagram_connector_line {
  position: absolute;
  box-sizing: border-box;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector.horizontal .relationship_diagram_connector_line {
  border-top: solid 3px #d14900;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector.vertical .relationship_diagram_connector_line {
  border-left: solid 3px #d14900;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector .relationship_diagram_connector_arrow {
  position: absolute;
  box-sizing: border-box;
  border: solid #d14900;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  border-radius: 2px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector .relationship_diagram_connector_arrow.up {
  transform: rotate(-135deg);
  margin: 1px -4px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector .relationship_diagram_connector_arrow.down {
  transform: rotate(45deg);
  margin: -10px -4px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector .relationship_diagram_connector_arrow.right {
  transform: rotate(-45deg);
  margin: -4px -10px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector .relationship_diagram_connector_arrow.left {
  transform: rotate(135deg);
  margin: -4px 2px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector .relationship_diagram_connector_relationship {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector .relationship_diagram_connector_relationship .type {
  color: #595959;
  background-color: #f2f2f2;
  padding: 2px;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector.horizontal .relationship_diagram_connector_relationship {
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector.secondary .relationship_diagram_connector_line,
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector.secondary .relationship_diagram_connector_arrow {
  display: none;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector.secondary .relationship_diagram_connector_relationship {
  -ms-grid-row-align: center;
  align-items: center;
}
.relationship_diagram .relationship_diagram_canvas .relationship_diagram_connector.secondary .relationship_diagram_connector_relationship .type {
  color: #767676;
}
.relationship_diagram .relationship_diagram_parents_connector .relationship_diagram_connector_line {
  position: absolute;
  box-sizing: border-box;
}
.relationship_diagram .relationship_diagram_parents_connector .relationship_diagram_connector_line.horizontal {
  border-top: solid 1px #ccc;
}
.relationship_diagram .relationship_diagram_parents_connector .relationship_diagram_connector_line.vertical {
  border-left: solid 1px #ccc;
}
.relationship_diagram .relationship_diagram_parents_connector .relationship_diagram_connector_line.top_right_corner {
  border-top-right-radius: 16px;
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
}
.relationship_diagram .relationship_diagram_parents_connector .relationship_diagram_connector_line.top_left_corner {
  border-top-left-radius: 16px;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
}
.relationship_diagram .relationship_diagram_parents_connector .relationship_diagram_connector_line.bottom_right_corner {
  border-bottom-right-radius: 16px;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
}
.relationship_diagram .relationship_diagram_parents_connector .relationship_diagram_connector_line.bottom_left_corner {
  border-bottom-left-radius: 16px;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #ccc;
}
.relationship_diagram .relationship_diagram_move_left,
.relationship_diagram .relationship_diagram_move_right {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #333;
  opacity: 0.65;
  padding: 15px;
  cursor: pointer;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.relationship_diagram .relationship_diagram_move_left:hover,
.relationship_diagram .relationship_diagram_move_right:hover {
  opacity: 0.8;
}
.relationship_diagram .relationship_diagram_move_left::before,
.relationship_diagram .relationship_diagram_move_right::before {
  width: 12px;
  height: 8px;
  display: block;
  content: "";
  background-repeat: no-repeat;
}
.relationship_diagram .relationship_diagram_move_left {
  left: 24px;
}
.relationship_diagram .relationship_diagram_move_left::before {
  background-image: url("/FP/Assets/Images/RelationshipDiagram/move_left.svg?v=1");
}
.relationship_diagram .relationship_diagram_move_right {
  right: 24px;
}
.relationship_diagram .relationship_diagram_move_right::before {
  background-image: url("/FP/Assets/Images/RelationshipDiagram/move_right.svg?v=1");
}
.relationship_diagram .relationship_diagram_footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.05);
  display: none;
}
.relationship_diagram .relationship_diagram_footer .relationship_diagram_close {
  top: 6px;
  right: 6px;
}
.relationship_diagram .relationship_diagram_footer .relationship_diagram_footer_inner {
  padding: 20px;
}
.relationship_diagram .relationship_diagram_footer .relationship_diagram_footer_inner .relationship_diagram_person .relationship_diagram_image,
.relationship_diagram .relationship_diagram_footer .relationship_diagram_footer_inner .relationship_diagram_person .relationship_diagram_details {
  display: table-cell;
  vertical-align: middle;
}
.relationship_diagram .relationship_diagram_footer .relationship_diagram_footer_inner .relationship_diagram_person .relationship_diagram_image {
  padding-right: 12px;
}
.relationship_diagram .relationship_diagram_footer .relationship_diagram_footer_inner .relationship_diagram_person .relationship_diagram_image .relationship_diagram_photo {
  width: 48px;
  height: 48px;
}
.relationship_diagram .relationship_diagram_footer .relationship_diagram_footer_inner .relationship_diagram_person .relationship_diagram_name {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.47px;
  font-weight: 500;
  color: #000;
}
.relationship_diagram .relationship_diagram_footer .relationship_diagram_footer_inner .relationship_diagram_person .relationship_diagram_years {
  font-size: 15px;
  line-height: 22px;
  color: #595959;
  padding-top: 4px;
}
.relationship_diagram .relationship_diagram_footer .relationship_diagram_footer_inner .relationship_diagram_actions_menu {
  padding-top: 22px;
}
.relationship_diagram .relationship_diagram_footer .relationship_diagram_footer_inner .relationship_diagram_actions_menu .relationship_diagram_actions_menu_item {
  color: #595959;
  padding: 8px 0;
  white-space: nowrap;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.relationship_diagram .relationship_diagram_not_found {
  text-align: center;
  margin-top: 100px;
}
.relationship_diagram .relationship_diagram_not_found .image {
  display: inline-block;
  width: 195px;
  height: 64px;
  background-image: url("/FP/Assets/Images/RelationshipDiagram/relationship_not_found.png?v=1");
  background-image: -webkit-image-set(url("/FP/Assets/Images/RelationshipDiagram/relationship_not_found.png?v=1") 1x, url("/FP/Assets/Images/RelationshipDiagram/relationship_not_found@2x.png?v=1") 2x);
  background-repeat: no-repeat;
}
.relationship_diagram .relationship_diagram_not_found .text {
  padding-top: 47px;
}
@keyframes relationship_diagram_progress {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.relationship_diagram .progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.mh_mobile .relationship_diagram .progress {
  z-index: 201;
}
.relationship_diagram .progress .spinner {
  width: 244px;
  height: 244px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.relationship_diagram .progress .spinner .inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.relationship_diagram .progress .spinner .inner div {
  position: absolute;
  width: 58px;
  height: 58px;
  border: 5px solid #e5e5e5;
  border-top-color: transparent;
  border-radius: 50%;
  animation: relationship_diagram_progress 0.75s linear infinite;
  top: 122px;
  left: 122px;
  box-sizing: content-box;
}
.relationship_diagram .grab-cursor {
  cursor: url("/FP/Assets/Images/NewTree/openhand.cur.ico"), auto;
  cursor: -moz-grab;
}
.relationship_diagram .grabbing-cursor {
  cursor: url("/FP/Assets/Images/NewTree/closedhand.cur.ico"), auto;
  cursor: -moz-grabbing;
}

.relationship_diagram_name_large {
  font-size: 13px;
  line-height: 16px;
}

.relationship_diagram_name_medium {
  font-size: 12px;
  line-height: 15px;
}

.relationship_diagram_name_small {
  font-size: 11px;
  line-height: 14px;
}

#RelationshipDiagramName {
  font-weight: 500;
  position: absolute;
  top: 0;
  opacity: 0;
}

.relationship_diagram_viewer {
  cursor: pointer !important;
  text-decoration: underline !important;
  -webkit-text-decoration-style: dashed !important;
  text-decoration-style: dashed !important;
  text-underline-offset: 2px;
}

.relationship_diagram_viewer_dotted {
  cursor: pointer !important;
  text-decoration: underline !important;
  -webkit-text-decoration-style: dotted !important;
  text-decoration-style: dotted !important;
  text-underline-offset: 2px;
}

#RelationshipDiagramIntro {
  position: fixed;
  z-index: 100;
  width: 338px;
  background-color: #333;
  padding: 20px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  letter-spacing: 0.3px;
  opacity: 0;
  transition: opacity 0.5s linear;
  box-sizing: border-box;
}
#RelationshipDiagramIntro.open {
  opacity: 1;
}
#RelationshipDiagramIntro::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 32px;
  top: -17px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  pointer-events: none;
}
.mh_mobile #RelationshipDiagramIntro::before {
  left: 134px;
}
#RelationshipDiagramIntro .relationship_diagram_intro_title {
  color: #fff;
  font-size: 18px;
  line-height: 1.67;
  font-weight: bold;
  padding-bottom: 10px;
  display: inline-block;
}
#RelationshipDiagramIntro .relationship_diagram_intro_new {
  background-color: #fff;
  color: #333;
  padding: 2px 6px;
  margin-left: 10px;
  border-radius: 2px;
  font-size: 11px;
  letter-spacing: 1.2px;
  text-align: center;
  line-height: 1.67;
  font-weight: 500;
  display: inline-block;
}
#RelationshipDiagramIntro .relationship_diagram_intro_text {
  color: #fff;
  font-size: 13px;
  line-height: 1.54;
}
#RelationshipDiagramIntro .relationship_diagram_intro_bottom {
  padding-top: 20px;
}
#RelationshipDiagramIntro .relationship_diagram_learn_more {
  color: #ccc;
  font-size: 15px;
  line-height: 1.6;
  padding: 4px 0;
  cursor: pointer;
  float: left;
}
#RelationshipDiagramIntro .relationship_diagram_action {
  color: #fff;
  font-size: 13px;
  line-height: 1.54;
  background-color: #d14900;
  padding: 6px 20px;
  border-radius: 14px;
  height: 30px;
  cursor: pointer;
  float: right;
  box-sizing: border-box;
}
#RelationshipDiagramIntro .relationship_diagram_action:hover {
  background-color: #ff7c55;
}

#RelationshipDiagramContainer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
#RelationshipDiagramContainer #RelationshipDiagramWindow {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.1);
  font-size: 12px;
  z-index: 1000;
}
.mh_mobile #RelationshipDiagramContainer #RelationshipDiagramWindow {
  border: none;
  border-radius: 0;
  box-shadow: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: none;
}
#RelationshipDiagramContainer #RelationshipDiagramWindow .progress {
  width: 244px;
  height: 244px;
}
#RelationshipDiagramContainer .relationship_diagram {
  background: #fff;
}
#RelationshipDiagramContainer .relationship_diagram_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 99px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
}
#RelationshipDiagramContainer .relationship_diagram_header .relationship_diagram_title {
  padding: 20px 48px 14px 24px;
}
#RelationshipDiagramContainer .relationship_diagram_print {
  position: absolute;
  top: 52px;
  right: 24px;
}
.mh_mobile #RelationshipDiagramContainer .relationship_diagram_print {
  right: 58px;
}
#RelationshipDiagramContainer .relationship_diagram_edit {
  position: absolute;
  top: 52px;
  right: 64px;
}
.mh_mobile #RelationshipDiagramContainer .relationship_diagram_edit {
  right: 6px;
}
#RelationshipDiagramContainer .relationship_diagram_canvas {
  position: absolute;
  top: 99px;
  left: 0;
  right: 0;
  bottom: 0;
}
.mh_mobile #RelationshipDiagramContainer .relationship_diagram_canvas {
  left: 0;
  right: 0;
  bottom: 0;
}
#RelationshipDiagramContainer .relationship_diagram_canvas .relationship_diagram_background {
  left: 0;
  top: 0;
  position: absolute;
}
#RelationshipDiagramContainer .relationship_diagram_canvas .relationship_diagram_background.not_found {
  position: relative;
}

#RelationshipDiagramReport {
  background-color: #f2f2f2;
}
#RelationshipDiagramReport .relationship_diagram_header_container {
  background-color: #fff;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header_container {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_title {
  padding: 20px 0;
  display: block;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description {
  padding-bottom: 16px;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .caption,
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .separator,
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .family_trees {
  display: inline-block;
  vertical-align: middle;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .caption,
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .separator,
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .family_trees {
  display: block;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .caption {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-transform: inherit;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .caption {
  line-height: 28px;
  font-weight: 500;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .separator {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #767676;
  margin: 0 6px 0 12px;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .separator {
  display: none;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .family_trees .current_tree {
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .family_trees .current_tree:hover {
  background-color: #f2f2f2;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .family_trees .current_tree {
  padding: 6px 0;
  border-radius: 0;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .family_trees .current_tree:hover {
  background-color: transparent;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .family_trees .current_tree .value,
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .family_trees .current_tree .selector {
  display: inline-block;
  vertical-align: middle;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .family_trees .current_tree .value {
  color: #000;
  font-weight: 500;
  margin-right: 5px;
  font-size: 15px;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .family_trees .current_tree .selector::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 3px;
  background-image: url("/FP/Assets/Images/Common/arrow-down.svg?v=1");
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_description .family_trees .current_tree.open .selector::after {
  background-image: url("/FP/Assets/Images/Common/arrow-up.svg?v=1");
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_close {
  display: none;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_individual {
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}
@media (min-width: 768px) {
  #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_individual {
    width: 300px;
  }
}
@media (min-width: 992px) {
  #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_individual {
    width: 380px;
  }
}
@media (min-width: 1200px) {
  #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_individual {
    width: 380px;
  }
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_individual:hover {
  border: solid 1px #767676;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_individual:hover .search_close {
  visibility: visible;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_individual.placeholder .relationship_diagram_name {
  color: #595959;
  font-weight: normal;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_individual_label {
  font-size: 11px;
  letter-spacing: 0.4px;
  color: #595959;
  display: inline;
  position: relative;
  top: 8px;
  left: 10px;
  background-color: #fff;
  padding: 2px 4px;
}
#RelationshipDiagramReport .relationship_diagram_header .back_to_me {
  font-size: 13px;
  line-height: 20px;
  margin-top: 6px;
  letter-spacing: 0.3px;
  cursor: pointer;
}
#RelationshipDiagramReport .relationship_diagram_header .back_to_me.inactive {
  visibility: hidden;
}
#RelationshipDiagramReport .relationship_diagram_header .back_to_me::before {
  content: "";
  width: 12px;
  height: 13px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 5px;
  background-image: url("/FP/Assets/Images/RelationshipDiagram/back_to_me.svg?v=1");
}
#RelationshipDiagramReport .relationship_diagram_header .back_to_me:hover {
  text-decoration: underline;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_relationship {
  display: none;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_source,
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_swapper,
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_target,
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_display_report {
  display: table-cell;
  vertical-align: top;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_source,
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_swapper,
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_target,
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_display_report {
  display: block;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_swapper {
  padding: 22px 28px 0 28px;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_swapper {
  padding: 0 calc(50% - 22px);
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_swapper .relationship_diagram_swapper_buttons {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-image: url("/FP/Assets/Images/RelationshipDiagram/swap_direction_vertical.svg?v=1");
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_swapper .relationship_diagram_swapper_buttons::before {
  display: none;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_swapper .relationship_diagram_swapper_buttons.swapped {
  background-image: url("/FP/Assets/Images/RelationshipDiagram/swap_direction_vertical_reverse.svg?v=1");
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_image {
  display: block;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_display_report {
  display: none !important;
  padding-top: 18px;
  width: 100%;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_display_report .relationship_diagram_display_report_button {
  font-size: 17px;
  letter-spacing: 0.3px;
  padding: 10px 28px;
  border-radius: 50px;
  height: 46px;
  float: right;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_display_report {
  padding-left: 0;
  padding: 30px 0 10px 0;
  float: unset;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_display_report .relationship_diagram_display_report_button {
  width: 100%;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_finder {
  position: absolute;
  height: 50px;
  margin-top: -41px;
  margin-left: -13px;
}
@media (min-width: 768px) {
  #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_finder {
    width: 300px;
  }
}
@media (min-width: 992px) {
  #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_finder {
    width: 380px;
  }
}
@media (min-width: 1200px) {
  #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_finder {
    width: 380px;
  }
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_finder {
  width: calc(100% - 38px);
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_finder input {
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  font-size: 15px;
  border: none;
  background-color: #fff;
  color: #000;
  letter-spacing: 0.35px;
  margin-bottom: 14px;
  margin-left: 53px;
  outline: none;
  direction: ltr;
}
@media (min-width: 768px) {
  #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_finder input {
    width: 218px;
  }
}
@media (min-width: 992px) {
  #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_finder input {
    width: 298px;
  }
}
@media (min-width: 1200px) {
  #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_finder input {
    width: 298px;
  }
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_finder input {
  font-size: 16px;
  margin-bottom: 15px;
  width: calc(100% - 75px);
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_finder.empty .search_button {
  display: inline-block;
}
#RelationshipDiagramReport .relationship_diagram_header .relationship_diagram_finder.empty .search_close {
  display: none;
}
#RelationshipDiagramReport .relationship_diagram_docked_header_container {
  position: fixed;
  top: 64px;
  height: 74px;
  left: 0;
  right: 0;
  z-index: 101;
  display: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
#RelationshipDiagramReport .relationship_diagram_docked_header_container .relationship_diagram_title,
#RelationshipDiagramReport .relationship_diagram_docked_header_container .relationship_diagram_actions {
  padding: 16px 0;
  display: inline-block;
}
#RelationshipDiagramReport .relationship_diagram_docked_header_container .relationship_diagram_actions {
  float: right;
}
#RelationshipDiagramReport.docked .relationship_diagram_docked_header_container {
  display: block;
}
#RelationshipDiagramReport.docked .relationship_diagram_report_header {
  opacity: 0;
  transition: 0.5s ease-in;
}
.mh_mobile #RelationshipDiagramReport {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
.mh_mobile #RelationshipDiagramReport #RelationshipDiagramWindow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mh_mobile #RelationshipDiagramReport #RelationshipDiagramWindow .canvas {
  display: none;
}
.mh_mobile #RelationshipDiagramReport #RelationshipDiagramWindow.active .relationship_diagram_header_container {
  display: none;
}
.mh_mobile #RelationshipDiagramReport #RelationshipDiagramWindow.active .relationship_diagram_report_header {
  display: block;
}
.mh_mobile #RelationshipDiagramReport #RelationshipDiagramWindow.active .relationship_diagram_canvas {
  display: block;
}
.mh_mobile #RelationshipDiagramReport.search_source, .mh_mobile #RelationshipDiagramReport.search_target {
  top: 0;
  z-index: 2000;
}
.mh_mobile #RelationshipDiagramReport.search_source .relationship_diagram_title,
.mh_mobile #RelationshipDiagramReport.search_source .relationship_diagram_docked_title, .mh_mobile #RelationshipDiagramReport.search_target .relationship_diagram_title,
.mh_mobile #RelationshipDiagramReport.search_target .relationship_diagram_docked_title {
  padding: 0 0 5px 0;
}
.mh_mobile #RelationshipDiagramReport.search_source .relationship_diagram_description,
.mh_mobile #RelationshipDiagramReport.search_source .relationship_diagram_swapper,
.mh_mobile #RelationshipDiagramReport.search_source .relationship_diagram_display_report, .mh_mobile #RelationshipDiagramReport.search_target .relationship_diagram_description,
.mh_mobile #RelationshipDiagramReport.search_target .relationship_diagram_swapper,
.mh_mobile #RelationshipDiagramReport.search_target .relationship_diagram_display_report {
  display: none;
}
.mh_mobile #RelationshipDiagramReport.search_source .relationship_diagram_canvas, .mh_mobile #RelationshipDiagramReport.search_target .relationship_diagram_canvas {
  top: 104px;
}
.mh_mobile #RelationshipDiagramReport.search_source .relationship_diagram_target {
  display: none;
}
.mh_mobile #RelationshipDiagramReport.search_target .relationship_diagram_source {
  display: none;
}
#RelationshipDiagramReport .relationship_diagram_report_header {
  background-color: #f2f2f2;
  padding: 20px 15px;
  letter-spacing: 0.3px;
  font-size: 15px;
  line-height: 24px;
  opacity: 1;
  transition: 0.5s ease-in;
}
#RelationshipDiagramReport .relationship_diagram_report_header .description,
#RelationshipDiagramReport .relationship_diagram_report_header .actions {
  display: inline-block;
  vertical-align: middle;
}
#RelationshipDiagramReport .relationship_diagram_report_header .relationship_diagram_print:hover,
#RelationshipDiagramReport .relationship_diagram_report_header .relationship_diagram_download:hover,
#RelationshipDiagramReport .relationship_diagram_report_header .relationship_diagram_edit:hover {
  background-color: #e5e5e5;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_report_header {
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  display: none;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_report_header .relationship_diagram_back {
  position: absolute;
  left: 14px;
  top: 16px;
  width: 24px;
  height: 24px;
  background-image: url("/FP/Assets/Images/RelationshipDiagram/back.svg?v=1");
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_report_header .relationship_diagram_details {
  position: absolute;
  left: 50px;
  right: 12px;
  top: 14px;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_report_header .relationship_diagram_details .name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.35px;
  color: #000;
  padding-bottom: 2px;
  overflow: hidden;
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_report_header .relationship_diagram_details .title,
.mh_mobile #RelationshipDiagramReport .relationship_diagram_report_header .relationship_diagram_details .relationship {
  color: #595959;
  font-size: 13px;
  line-height: 1.23;
  letter-spacing: 0.3px;
  overflow: hidden;
}
#RelationshipDiagramReport .relationship_diagram_report_header .description {
  float: left;
}
#RelationshipDiagramReport .relationship_diagram_report_header .description .relationship {
  color: #000;
  font-weight: 500;
}
#RelationshipDiagramReport .relationship_diagram_report_header .actions {
  float: right;
  margin-top: -6px;
}
#RelationshipDiagramReport .relationship_diagram_report_header .actions .details,
#RelationshipDiagramReport .relationship_diagram_report_header .actions .buttons {
  display: inline-block;
  vertical-align: middle;
}
#RelationshipDiagramReport .relationship_diagram_report_header .actions .details {
  padding: 6px 10px;
  border-radius: 3px;
  cursor: pointer;
}
#RelationshipDiagramReport .relationship_diagram_report_header .actions .details:hover {
  background-color: #e5e5e5;
}
#RelationshipDiagramReport .relationship_diagram_report_header .actions .details .label,
#RelationshipDiagramReport .relationship_diagram_report_header .actions .details .value,
#RelationshipDiagramReport .relationship_diagram_report_header .actions .details .selector {
  display: inline-block;
  vertical-align: middle;
}
#RelationshipDiagramReport .relationship_diagram_report_header .actions .details .label {
  margin-right: 10px;
}
#RelationshipDiagramReport .relationship_diagram_report_header .actions .details .value {
  color: #000;
  font-weight: 500;
  margin-right: 5px;
  min-width: 40px;
}
#RelationshipDiagramReport .relationship_diagram_report_header .actions .details .selector::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 3px;
  background-image: url("/FP/Assets/Images/Common/arrow-down.svg?v=1");
}
#RelationshipDiagramReport .relationship_diagram_report_header .actions .details.open .selector::after {
  background-image: url("/FP/Assets/Images/Common/arrow-up.svg?v=1");
}
#RelationshipDiagramReport .relationship_diagram_report_header .actions .buttons {
  height: 40px;
}
#RelationshipDiagramReport .relationship_diagram_report_header .actions .buttons:before {
  content: "";
  height: 32px;
  width: 1px;
  background-color: #ccc;
  margin: 4px 14px;
  display: inline-block;
}
#RelationshipDiagramReport .family_tree_menu,
#RelationshipDiagramReport .details_menu {
  display: none;
  position: absolute;
  z-index: 200;
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.03);
  overflow: auto;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px 0;
  transition: opacity 0.1s linear, visibility 0.1s linear;
}
#RelationshipDiagramReport .family_tree_menu .entry,
#RelationshipDiagramReport .details_menu .entry {
  cursor: pointer;
  width: 100%;
  color: #595959;
  padding: 0 20px;
  line-height: 40px;
  display: flex;
}
#RelationshipDiagramReport .family_tree_menu .entry:hover,
#RelationshipDiagramReport .details_menu .entry:hover {
  background-color: #f7f7f7;
}
#RelationshipDiagramReport .family_tree_menu .entry .label,
#RelationshipDiagramReport .details_menu .entry .label {
  display: inline-block;
  width: 100%;
  padding-right: 16px;
  white-space: nowrap;
}
#RelationshipDiagramReport .family_tree_menu .entry .label.numeric,
#RelationshipDiagramReport .details_menu .entry .label.numeric {
  text-align: right;
}
#RelationshipDiagramReport .family_tree_menu .entry .label.tree_name,
#RelationshipDiagramReport .details_menu .entry .label.tree_name {
  width: calc(100% - 64px);
}
#RelationshipDiagramReport .family_tree_menu .entry .label.tree_size,
#RelationshipDiagramReport .details_menu .entry .label.tree_size {
  width: 64px;
}
#RelationshipDiagramReport .family_tree_menu .entry .icon,
#RelationshipDiagramReport .details_menu .entry .icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  padding: 12px 0;
}
#RelationshipDiagramReport .family_tree_menu .entry.selected,
#RelationshipDiagramReport .details_menu .entry.selected {
  color: #d14900;
}
#RelationshipDiagramReport .family_tree_menu .entry.selected .icon,
#RelationshipDiagramReport .details_menu .entry.selected .icon {
  background-repeat: no-repeat;
  transform: scale(1.5);
  margin-top: 16px;
  background-image: url("/FP/Assets/Images/RelationshipDiagram/check.svg?v=1");
}
#RelationshipDiagramReport .family_tree_menu.open,
#RelationshipDiagramReport .details_menu.open {
  display: block;
}
#RelationshipDiagramReport .relationship_diagram_canvas {
  height: calc(100% - 261px);
}
.mh_mobile #RelationshipDiagramReport .relationship_diagram_canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 89px;
  bottom: 0;
  height: unset;
}
#RelationshipDiagramReport .relationship_diagram_canvas .relationship_diagram_background {
  position: relative;
}
#RelationshipDiagramReport .relationship_diagram_canvas.centered .relationship_diagram_background {
  transform: translateX(-50%);
  left: 50% !important;
}
#RelationshipDiagramReport .relationship_diagram_canvas.centered .relationship_diagram_move_left,
#RelationshipDiagramReport .relationship_diagram_canvas.centered .relationship_diagram_move_right {
  display: none;
}
#RelationshipDiagramReport .progress {
  position: fixed;
}
#RelationshipDiagramReport .search_button {
  display: none;
  padding-top: 15px;
}
#RelationshipDiagramReport .search_button .search_icon {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("/FP/Assets/Images/NewTree/search_20x20.svg?v=1");
}
#RelationshipDiagramReport .search_button .search_icon:hover {
  opacity: 1;
}
#RelationshipDiagramReport .search_close {
  display: inline-block;
  visibility: hidden;
  margin-top: 13px;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  cursor: pointer;
  opacity: 0.4;
}
#RelationshipDiagramReport .search_close:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
#RelationshipDiagramReport .search_close::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("/FP/Assets/Images/RelationshipDiagram/search_close.svg?v=1");
}
#RelationshipDiagramReport .dropdown {
  position: absolute;
  border: solid 1px rgba(0, 0, 0, 0.03);
  border-radius: 2px !important;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
@media (min-width: 768px) {
  #RelationshipDiagramReport .dropdown {
    width: 300px;
  }
}
@media (min-width: 992px) {
  #RelationshipDiagramReport .dropdown {
    width: 380px;
  }
}
@media (min-width: 1200px) {
  #RelationshipDiagramReport .dropdown {
    width: 380px;
  }
}
#RelationshipDiagramReport .dropdown .drop-item {
  background-color: #fff;
  border-bottom-width: 0;
}
.mh_mobile #RelationshipDiagramReport .dropdown .drop-item {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
}
.mh_mobile #RelationshipDiagramReport .dropdown .drop-item.sel {
  background-color: #fff;
}
#RelationshipDiagramReport .dropdown .drop-item .drop-img {
  background-color: #fff;
  width: 42px !important;
  height: 42px !important;
}
#RelationshipDiagramReport .dropdown .drop-item .drop-img img.autocomplete-image,
#RelationshipDiagramReport .dropdown .drop-item .drop-img img.autocomplete-image-silhouette {
  border-radius: 50% !important;
  background-position: center !important;
  background-size: cover !important;
  width: 42px !important;
  height: 42px !important;
}
#RelationshipDiagramReport .dropdown .drop-item .drop-img img.PK_Silhouette_S_30_Ribbon {
  display: none;
}
#RelationshipDiagramReport .dropdown .drop-item .drop-text {
  width: calc(100% - 54px);
}
#RelationshipDiagramReport .dropdown .drop-item .drop-text .autocomplete-name {
  color: #000;
}
#RelationshipDiagramReport .dropdown .drop-item .drop-text .autocomplete-date,
#RelationshipDiagramReport .dropdown .drop-item .drop-text .autocomplete-relation {
  color: #595959;
}
.mh_mobile #RelationshipDiagramReport .dropdown .drop-item .drop-text .autocomplete-name,
.mh_mobile #RelationshipDiagramReport .dropdown .drop-item .drop-text .autocomplete-date,
.mh_mobile #RelationshipDiagramReport .dropdown .drop-item .drop-text .autocomplete-relation {
  font-size: 13px;
  line-height: 17px;
}
#RelationshipDiagramReport .dropdown .drop-item .drop-text .search_family_tree_icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("/FP/Assets/Images/RelationshipDiagram/tree.svg?v=1");
  background-repeat: no-repeat;
  transform: scale(0.6);
}
#RelationshipDiagramReport .dropdown .drop-item .drop-text .ReducedSizeTextGreyLabel {
  display: inline-block;
  vertical-align: middle;
  color: #595959;
  font-size: 12px;
  font-weight: normal;
}
.mh_desktop #RelationshipDiagramReport .dropdown .sel {
  background-color: #f7f7f7;
}
.mh_desktop #RelationshipDiagramReport .dropdown .sel .drop-img {
  background-color: #f7f7f7;
}
#RelationshipDiagramReport .dropdown .autocomplete-image-silhouette {
  border: solid 1px #ccc;
}
#RelationshipDiagramReport .dropdown .drop-status table {
  margin: unset !important;
}
#RelationshipDiagramReport .dropdown .drop-status .drop-status-icon {
  display: none;
}
#RelationshipDiagramReport .dropdown .drop-status .drop-status-text {
  color: #595959;
}