/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/**
* Transforms a given palette color to the transparent version of it
*/
/* stylelint-disable */
.treeviewselector_sprite, .mobile_header .toolbar_view_family::after,
.mobile_header .toolbar_view_pedigree::after,
.mobile_header .toolbar_view_list::after,
.mobile_header .toolbar_view_fan::after, .mobile_header .toolbar_view_family .inner,
.mobile_header .toolbar_view_pedigree .inner,
.mobile_header .toolbar_view_list .inner,
.mobile_header .toolbar_view_fan .inner, #tree_view_selector .drop_down_button .drop_down_icon, #tree_view_selector .selected_view .selected_menu_icon, #tree_view_selector .view .icon {
  background-image: url("/FP/Assets/Images/Sprites/treeviewselector_sprite.png?v=23");
}
@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .treeviewselector_sprite, .mobile_header .toolbar_view_family::after,
.mobile_header .toolbar_view_pedigree::after,
.mobile_header .toolbar_view_list::after,
.mobile_header .toolbar_view_fan::after, .mobile_header .toolbar_view_family .inner,
.mobile_header .toolbar_view_pedigree .inner,
.mobile_header .toolbar_view_list .inner,
.mobile_header .toolbar_view_fan .inner, #tree_view_selector .drop_down_button .drop_down_icon, #tree_view_selector .selected_view .selected_menu_icon, #tree_view_selector .view .icon {
    background-image: url("/FP/Assets/Images/Sprites/treeviewselector_sprite@2x.png?v=23");
    background-size: 144px 141px;
  }
}

#tree_view_selector {
  font-size: 13px;
  letter-spacing: 0.3px;
  margin-left: 6px;
}
#page_header #tree_view_selector {
  margin-top: -3px;
}
#tree_view_selector a {
  display: inline-block;
  vertical-align: bottom;
}
#tree_view_selector .separator {
  display: inline-block;
}
#tree_view_selector .view {
  height: 40px;
  padding: 5px 10px;
  display: inline-block;
}
.mh_desktop #page_header #tree_view_selector .view {
  padding: 8px 10px;
}
.mh_desktop.new_tree_facelift #tree_view_selector .view, .mh_desktop.new_tree_facelift #page_header #tree_view_selector .view {
  height: 47px;
  padding: 0;
  margin: 0 1px;
  border-bottom: solid 2px transparent;
}
.mh_desktop.new_tree_facelift #tree_view_selector .view .image, .mh_desktop.new_tree_facelift #page_header #tree_view_selector .view .image {
  padding: 6px 9px;
  border-radius: 4px;
}
.mh_desktop.new_tree_facelift #tree_view_selector .view.selected_view, .mh_desktop.new_tree_facelift #page_header #tree_view_selector .view.selected_view {
  margin: 0 8px;
  border-color: #d14900;
}
.mh_desktop.new_tree_facelift #tree_view_selector .view.selected_view .image, .mh_desktop.new_tree_facelift #page_header #tree_view_selector .view.selected_view .image {
  padding: 6px 0;
}
#tree_view_selector .view .image,
#tree_view_selector .view .text,
#tree_view_selector .view .selected_icon {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
#tree_view_selector .view .text {
  margin-left: 6px;
}
#tree_view_selector .view .new_badge {
  display: inline-block;
  background-color: #2d7559;
  color: #fff;
  padding: 1px 4px;
  border-radius: 2px;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.98px;
  text-align: center;
  position: relative;
  left: 8px;
  top: -4px;
}
#tree_view_selector .view .selected_menu {
  margin-left: 18px;
  display: inline-block;
  vertical-align: middle;
  float: right;
}
#tree_view_selector .selected_view {
  color: #d14900;
  cursor: pointer;
}
#tree_view_selector .selected_view .view_family_icon {
  background-position: 0px -32px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
#tree_view_selector .selected_view .view_pedigree_icon {
  background-position: -96px -64px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
#tree_view_selector .selected_view .view_list_icon {
  background-position: -64px -64px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
#tree_view_selector .selected_view .view_fan_icon {
  background-position: -64px -32px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
#tree_view_selector .selected_view .selected_menu_icon {
  background-position: -90px -128px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 6px;
}
#tree_view_selector .link_view {
  color: #595959;
  cursor: pointer;
}
#tree_view_selector .link_view .view_family_icon {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
#tree_view_selector .link_view .view_pedigree_icon {
  background-position: -96px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
#tree_view_selector .link_view .view_list_icon {
  background-position: 0px -64px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
#tree_view_selector .link_view .view_fan_icon {
  background-position: -32px -32px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
#tree_view_selector .link_view:hover {
  color: #333;
}
.mh_desktop.new_tree_facelift #tree_view_selector .link_view:hover .image, .mh_desktop.new_tree_facelift #page_header #tree_view_selector .link_view:hover .image {
  background-color: #f2f2f2;
}
.mh_desktop.new_tree_facelift #tree_view_selector .link_view:hover .view_family_icon, .mh_desktop.new_tree_facelift #page_header #tree_view_selector .link_view:hover .view_family_icon {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
.mh_desktop.new_tree_facelift #tree_view_selector .link_view:hover .view_pedigree_icon, .mh_desktop.new_tree_facelift #page_header #tree_view_selector .link_view:hover .view_pedigree_icon {
  background-position: -96px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
.mh_desktop.new_tree_facelift #tree_view_selector .link_view:hover .view_list_icon, .mh_desktop.new_tree_facelift #page_header #tree_view_selector .link_view:hover .view_list_icon {
  background-position: 0px -64px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
.mh_desktop.new_tree_facelift #tree_view_selector .link_view:hover .view_fan_icon, .mh_desktop.new_tree_facelift #page_header #tree_view_selector .link_view:hover .view_fan_icon {
  background-position: -32px -32px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
#tree_view_selector .link_view:hover .view_family_icon {
  background-position: -32px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
#tree_view_selector .link_view:hover .view_pedigree_icon {
  background-position: -96px -32px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
#tree_view_selector .link_view:hover .view_list_icon {
  background-position: -32px -64px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
#tree_view_selector .link_view:hover .view_fan_icon {
  background-position: -64px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
.mh_mobile #tree_view_selector,
#tree_view_selector .drop_down_menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  max-height: 0;
  overflow-y: hidden;
  border-radius: 2px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}
.mh_mobile #tree_view_selector a,
#tree_view_selector .drop_down_menu a {
  display: inline;
}
.mh_mobile #tree_view_selector .separator,
#tree_view_selector .drop_down_menu .separator {
  display: none;
}
.mh_mobile #tree_view_selector .view,
#tree_view_selector .drop_down_menu .view {
  height: auto;
  display: block;
  padding: 14px 20px;
  border: none;
}
.mh_mobile #tree_view_selector .view .text,
#tree_view_selector .drop_down_menu .view .text {
  margin-left: 12px;
}
#tree_view_selector .drop_down_button {
  padding: 4px;
}
#tree_view_selector .drop_down_button a,
#tree_view_selector .drop_down_button .drop_down_opener {
  display: inline-block;
  vertical-align: middle;
}
#tree_view_selector .drop_down_button .drop_down_opener {
  background-color: #f2f2f2;
  padding: 4px;
  border-radius: 3px;
  margin-bottom: 5px;
}
#tree_view_selector .drop_down_button .drop_down_icon {
  background-position: -50px -128px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 12px;
}
#tree_view_selector .drop_down_menu {
  top: 40px;
}
#tree_view_selector .drop_down_menu .view {
  display: flex;
  border: none;
  padding: 14px 20px;
}
#tree_view_selector .drop_down_menu .view .text {
  margin-top: 3px;
}
#tree_view_selector .drop_down_menu .view .new_badge {
  height: 15px;
  margin-top: 6px;
}

.mh_mobile .tree_view_selector_mobile_visible,
.tree_view_selector_mobile_visible .drop_down_menu {
  max-height: 214px !important;
}

.mobile_header .dropdown_title.list_opener {
  max-width: calc(100% - 25px);
}
.mobile_header .toolbar_view_family,
.mobile_header .toolbar_view_pedigree,
.mobile_header .toolbar_view_list,
.mobile_header .toolbar_view_fan {
  width: 62px;
  height: 32px;
  border-radius: 16px;
  padding: 5px 0 !important;
  margin-top: 9px !important;
  margin-left: 6px !important;
  border: solid 1px #ccc;
  background-color: transparent !important;
}
.new_tree_facelift .mobile_header .toolbar_view_family,
.new_tree_facelift .mobile_header .toolbar_view_pedigree,
.new_tree_facelift .mobile_header .toolbar_view_list,
.new_tree_facelift .mobile_header .toolbar_view_fan {
  border-color: transparent;
}
.mobile_header .toolbar_view_family .inner,
.mobile_header .toolbar_view_pedigree .inner,
.mobile_header .toolbar_view_list .inner,
.mobile_header .toolbar_view_fan .inner {
  display: inline-block !important;
  vertical-align: middle !important;
  margin-top: -2px;
}
.mobile_header .toolbar_view_family::after,
.mobile_header .toolbar_view_pedigree::after,
.mobile_header .toolbar_view_list::after,
.mobile_header .toolbar_view_fan::after {
  content: " ";
  background-position: -70px -128px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 12px;
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 6px;
  margin-top: -3px;
}
.mobile_header .toolbar_view_family .inner {
  background-position: 0px -96px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
.mobile_header .toolbar_view_pedigree .inner {
  background-position: -96px -96px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
.mobile_header .toolbar_view_list .inner {
  background-position: -64px -96px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}
.mobile_header .toolbar_view_fan .inner {
  background-position: -32px -96px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
}

#tree_view_selector.tree_view_selector_condensed {
  padding-bottom: 8px;
}
.new_tree_facelift #tree_view_selector.tree_view_selector_condensed {
  padding-bottom: 0;
  font-size: 15px;
}
#page_header #tree_view_selector.tree_view_selector_condensed {
  margin-top: 0;
}
#tree_view_selector.tree_view_selector_condensed .separator {
  width: 1px;
  height: 22px;
  margin: 4px 6px;
  background-color: #ccc;
}
.new_tree_facelift #tree_view_selector.tree_view_selector_condensed .separator {
  display: none;
}
#page_header #tree_view_selector.tree_view_selector_condensed {
  margin-top: -9px;
}
#page_header #tree_view_selector.tree_view_selector_condensed .separator {
  margin: 0 6px;
}

.mobile_header_open .toolbar_view_family::after,
.mobile_header_open .toolbar_view_pedigree::after,
.mobile_header_open .toolbar_view_fan::after,
.mobile_header_open .toolbar_view_list::after {
  transform: scaleY(-1);
}

#page_header {
  height: 60px;
}
#page_header #family_search_sync_button {
  margin-top: -4px;
}
.mh_tablet #page_header {
  display: block;
}
.mh_tablet #page_header .pk_page_header {
  margin-top: 12px;
}
.mh_tablet #page_header #ToolBarExtension {
  margin-top: 5px;
}
.mh_tablet #page_header #ToolBarExtension #tree_view_selector {
  margin-top: 0;
  padding-bottom: 0;
  margin-right: 12px;
}
.mh_tablet #page_header #ToolBarExtension #tree_view_selector a {
  vertical-align: middle;
}
.mh_tablet #page_header #ToolBarExtension #tree_view_selector .drop_down_button {
  height: 40px;
  padding: 0 4px;
}
.mh_tablet #page_header #ToolBarExtension #tree_view_selector .drop_down_button .drop_down_opener {
  margin-bottom: 16px;
}
.mh_tablet #page_header #ToolBarExtension #tree_view_selector .drop_down_menu {
  position: relative;
  top: 0;
}
.mh_tablet #page_header #family_search_sync_button {
  margin-top: 4px;
}
.mh_tablet #page_header #family_search_sync_button .indicator_duplicates {
  top: 0 !important;
}
.mh_tablet.new_tree_facelift #page_header {
  height: 60px;
}
.mh_tablet.new_tree_facelift #page_header .toolbarLeft {
  margin-top: 20px;
}
.mh_tablet.new_tree_facelift #page_header #ToolBarExtension {
  margin-top: -9px;
}
.mh_tablet.new_tree_facelift #page_header #tree_view_selector {
  margin: 0;
  padding: 0;
}
.mh_tablet.new_tree_facelift #page_header #family_search_sync_button .indicator_duplicates {
  height: unset;
}
.mh_tablet.new_tree_facelift #page_header #NewTreeToolBar {
  top: -1px;
}
.mh_tablet:not(.new_tree_facelift) #page_header {
  height: 40px;
}
.mh_tablet:not(.new_tree_facelift) #page_header #ToolBarExtension {
  margin-top: 5px;
}
.mh_tablet:not(.new_tree_facelift) #page_header #ToolBarExtension #tree_view_selector {
  margin-top: 0;
  padding-bottom: 0;
  margin-right: 12px;
}